openapitools.json
src/**/.openapi-generator-ignore
src/**/.openapi-generator
src/**/.github
src/**/test
src/**/.gitlab-ci.yml
src/**/.travis.yml
src/**/git_push.sh
src/**/requirements.txt
src/**/setup.py
src/**/setup.cfg
src/**/test-requirements.txt
src/**/tox.ini
src/**/docs
node_modules


