{
  "openapi": "3.0.0",
  "info": {
    "title": "Vectorize API",
    "version": "0.1.0",
    "description": "API for Vectorize services (Beta)",
    "contact": {
      "name": "Vectorize",
      "url": "https://vectorize.io"
    },
    "x-release-date": "2025-07-08"
  },
  "servers": [
    {
      "url": "https://api.vectorize.io/v1",
      "description": "Vectorize API"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "CreatePipelineResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              }
            },
            "required": [
              "id"
            ]
          }
        },
        "required": [
          "message",
          "data"
        ]
      },
      "SourceConnectorType": {
        "type": "string",
        "enum": [
          "AWS_S3",
          "AZURE_BLOB",
          "CONFLUENCE",
          "DISCORD",
          "DROPBOX",
          "DROPBOX_OAUTH",
          "DROPBOX_OAUTH_MULTI",
          "DROPBOX_OAUTH_MULTI_CUSTOM",
          "FILE_UPLOAD",
          "GOOGLE_DRIVE_OAUTH",
          "GOOGLE_DRIVE",
          "GOOGLE_DRIVE_OAUTH_MULTI",
          "GOOGLE_DRIVE_OAUTH_MULTI_CUSTOM",
          "FIRECRAWL",
          "GCS",
          "INTERCOM",
          "NOTION",
          "NOTION_OAUTH_MULTI",
          "NOTION_OAUTH_MULTI_CUSTOM",
          "ONE_DRIVE",
          "SHAREPOINT",
          "WEB_CRAWLER",
          "GITHUB",
          "FIREFLIES",
          "GMAIL"
        ]
      },
      "SourceConnectorSchema": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "$ref": "#/components/schemas/SourceConnectorType"
          },
          "config": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            }
          }
        },
        "required": [
          "id",
          "type",
          "config"
        ],
        "additionalProperties": false
      },
      "DestinationConnectorTypeForPipeline": {
        "type": "string",
        "enum": [
          "CAPELLA",
          "DATASTAX",
          "ELASTIC",
          "PINECONE",
          "SINGLESTORE",
          "MILVUS",
          "POSTGRESQL",
          "QDRANT",
          "SUPABASE",
          "WEAVIATE",
          "AZUREAISEARCH",
          "TURBOPUFFER",
          "VECTORIZE"
        ]
      },
      "DestinationConnectorSchema": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "$ref": "#/components/schemas/DestinationConnectorTypeForPipeline"
          },
          "config": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            }
          }
        },
        "required": [
          "id",
          "type"
        ],
        "additionalProperties": false
      },
      "AIPlatformTypeForPipeline": {
        "type": "string",
        "enum": [
          "BEDROCK",
          "VERTEX",
          "OPENAI",
          "VOYAGE",
          "VECTORIZE"
        ]
      },
      "AIPlatformConfigSchema": {
        "type": "object",
        "properties": {
          "embeddingModel": {
            "type": "string",
            "enum": [
              "VECTORIZE_OPEN_AI_TEXT_EMBEDDING_2",
              "VECTORIZE_OPEN_AI_TEXT_EMBEDDING_3_LARGE",
              "VECTORIZE_OPEN_AI_TEXT_EMBEDDING_3_SMALL",
              "VECTORIZE_VOYAGE_AI_2",
              "VECTORIZE_VOYAGE_AI_3",
              "VECTORIZE_VOYAGE_AI_3_LITE",
              "VECTORIZE_VOYAGE_AI_3_LARGE",
              "VECTORIZE_VOYAGE_AI_FINANCE_2",
              "VECTORIZE_VOYAGE_AI_MULTILINGUAL_2",
              "VECTORIZE_VOYAGE_AI_LAW_2",
              "VECTORIZE_VOYAGE_AI_CODE_2",
              "VECTORIZE_VOYAGE_AI_35",
              "VECTORIZE_VOYAGE_AI_35_LITE",
              "VECTORIZE_VOYAGE_AI_CODE_3",
              "VECTORIZE_TITAN_TEXT_EMBEDDING_2",
              "VECTORIZE_TITAN_TEXT_EMBEDDING_1",
              "OPEN_AI_TEXT_EMBEDDING_2",
              "OPEN_AI_TEXT_EMBEDDING_3_SMALL",
              "OPEN_AI_TEXT_EMBEDDING_3_LARGE",
              "VOYAGE_AI_2",
              "VOYAGE_AI_3",
              "VOYAGE_AI_3_LITE",
              "VOYAGE_AI_3_LARGE",
              "VOYAGE_AI_FINANCE_2",
              "VOYAGE_AI_MULTILINGUAL_2",
              "VOYAGE_AI_LAW_2",
              "VOYAGE_AI_CODE_2",
              "VOYAGE_AI_35",
              "VOYAGE_AI_35_LITE",
              "VOYAGE_AI_CODE_3",
              "TITAN_TEXT_EMBEDDING_1",
              "TITAN_TEXT_EMBEDDING_2",
              "VERTEX_TEXT_EMBEDDING_4",
              "VERTEX_TEXT_EMBEDDING_GECKO_3",
              "VERTEX_GECKO_MULTILINGUAL_1",
              "VERTEX_MULTILINGUAL_EMBEDDING_2"
            ]
          },
          "chunkingStrategy": {
            "type": "string",
            "enum": [
              "FIXED",
              "SENTENCE",
              "PARAGRAPH",
              "MARKDOWN"
            ]
          },
          "chunkSize": {
            "type": "integer",
            "minimum": 1
          },
          "chunkOverlap": {
            "type": "integer",
            "minimum": 0
          },
          "dimensions": {
            "type": "integer",
            "minimum": 1
          },
          "extractionStrategy": {
            "type": "string",
            "enum": [
              "FAST",
              "IRIS",
              "MIXED"
            ]
          }
        },
        "additionalProperties": false
      },
      "AIPlatformConnectorSchema": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "$ref": "#/components/schemas/AIPlatformTypeForPipeline"
          },
          "config": {
            "$ref": "#/components/schemas/AIPlatformConfigSchema"
          }
        },
        "required": [
          "id",
          "type",
          "config"
        ],
        "additionalProperties": false
      },
      "ScheduleSchemaType": {
        "type": "string",
        "enum": [
          "manual",
          "realtime",
          "custom"
        ]
      },
      "ScheduleSchema": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/ScheduleSchemaType"
          }
        },
        "required": [
          "type"
        ]
      },
      "PipelineConfigurationSchema": {
        "type": "object",
        "properties": {
          "sourceConnectors": {
            "$ref": "#/components/schemas/PipelineSourceConnectorRequest"
          },
          "destinationConnector": {
            "$ref": "#/components/schemas/PipelineDestinationConnectorRequest"
          },
          "aiPlatformConnector": {
            "$ref": "#/components/schemas/AIPlatformConnectorSchema"
          },
          "pipelineName": {
            "type": "string",
            "minLength": 1
          },
          "schedule": {
            "$ref": "#/components/schemas/ScheduleSchema"
          }
        },
        "required": [
          "sourceConnectors",
          "destinationConnector",
          "aiPlatformConnector",
          "pipelineName",
          "schedule"
        ],
        "additionalProperties": false
      },
      "PipelineListSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "documentCount": {
            "type": "number"
          },
          "sourceConnectorAuthIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "destinationConnectorAuthIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "aiPlatformAuthIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "sourceConnectorTypes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "destinationConnectorTypes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "aiPlatformTypes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "createdAt": {
            "type": "string",
            "nullable": true
          },
          "createdBy": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "configDoc": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            }
          }
        },
        "required": [
          "id",
          "name",
          "documentCount",
          "sourceConnectorAuthIds",
          "destinationConnectorAuthIds",
          "aiPlatformAuthIds",
          "sourceConnectorTypes",
          "destinationConnectorTypes",
          "aiPlatformTypes",
          "createdAt",
          "createdBy"
        ]
      },
      "GetPipelinesResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PipelineListSummary"
            }
          }
        },
        "required": [
          "message",
          "data"
        ]
      },
      "SourceConnector": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "configDoc": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            }
          },
          "createdAt": {
            "type": "string",
            "nullable": true
          },
          "createdById": {
            "type": "string"
          },
          "lastUpdatedById": {
            "type": "string"
          },
          "createdByEmail": {
            "type": "string"
          },
          "lastUpdatedByEmail": {
            "type": "string"
          },
          "errorMessage": {
            "type": "string"
          },
          "verificationStatus": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "type",
          "name"
        ]
      },
      "DestinationConnector": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "configDoc": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            }
          },
          "createdAt": {
            "type": "string",
            "nullable": true
          },
          "createdById": {
            "type": "string"
          },
          "lastUpdatedById": {
            "type": "string"
          },
          "createdByEmail": {
            "type": "string"
          },
          "lastUpdatedByEmail": {
            "type": "string"
          },
          "errorMessage": {
            "type": "string"
          },
          "verificationStatus": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "type",
          "name"
        ]
      },
      "AIPlatform": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "configDoc": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            }
          },
          "createdAt": {
            "type": "string",
            "nullable": true
          },
          "createdById": {
            "type": "string"
          },
          "lastUpdatedById": {
            "type": "string"
          },
          "createdByEmail": {
            "type": "string"
          },
          "lastUpdatedByEmail": {
            "type": "string"
          },
          "errorMessage": {
            "type": "string"
          },
          "verificationStatus": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "type",
          "name"
        ]
      },
      "PipelineSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "documentCount": {
            "type": "number"
          },
          "sourceConnectorAuthIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "destinationConnectorAuthIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "aiPlatformAuthIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "sourceConnectorTypes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "destinationConnectorTypes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "aiPlatformTypes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "createdAt": {
            "type": "string",
            "nullable": true
          },
          "createdBy": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "configDoc": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            }
          },
          "sourceConnectors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SourceConnector"
            }
          },
          "destinationConnectors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DestinationConnector"
            }
          },
          "aiPlatforms": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AIPlatform"
            }
          }
        },
        "required": [
          "id",
          "name",
          "documentCount",
          "sourceConnectorAuthIds",
          "destinationConnectorAuthIds",
          "aiPlatformAuthIds",
          "sourceConnectorTypes",
          "destinationConnectorTypes",
          "aiPlatformTypes",
          "createdAt",
          "createdBy",
          "sourceConnectors",
          "destinationConnectors",
          "aiPlatforms"
        ]
      },
      "GetPipelineResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/PipelineSummary"
          }
        },
        "required": [
          "message",
          "data"
        ]
      },
      "DeletePipelineResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          }
        },
        "required": [
          "message"
        ]
      },
      "PipelineEvents": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "nullable": true
          },
          "details": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            }
          },
          "summary": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            }
          }
        },
        "required": [
          "id",
          "type",
          "timestamp"
        ]
      },
      "GetPipelineEventsResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "nextToken": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PipelineEvents"
            }
          }
        },
        "required": [
          "message",
          "data"
        ]
      },
      "PipelineMetrics": {
        "type": "object",
        "properties": {
          "timestamp": {
            "type": "string",
            "nullable": true
          },
          "newObjects": {
            "type": "number"
          },
          "changedObjects": {
            "type": "number"
          },
          "deletedObjects": {
            "type": "number"
          }
        },
        "required": [
          "timestamp",
          "newObjects",
          "changedObjects",
          "deletedObjects"
        ]
      },
      "GetPipelineMetricsResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PipelineMetrics"
            }
          }
        },
        "required": [
          "message",
          "data"
        ]
      },
      "Document": {
        "type": "object",
        "properties": {
          "relevancy": {
            "type": "number"
          },
          "id": {
            "type": "string"
          },
          "text": {
            "type": "string"
          },
          "chunk_id": {
            "type": "string"
          },
          "total_chunks": {
            "type": "string"
          },
          "origin": {
            "type": "string"
          },
          "origin_id": {
            "type": "string"
          },
          "similarity": {
            "type": "number"
          },
          "source": {
            "type": "string"
          },
          "unique_source": {
            "type": "string"
          },
          "source_display_name": {
            "type": "string"
          },
          "pipeline_id": {
            "type": "string"
          },
          "org_id": {
            "type": "string"
          }
        },
        "required": [
          "relevancy",
          "id",
          "text",
          "chunk_id",
          "total_chunks",
          "origin",
          "origin_id",
          "similarity",
          "source",
          "unique_source",
          "source_display_name"
        ],
        "additionalProperties": true
      },
      "RetrieveDocumentsResponse": {
        "type": "object",
        "properties": {
          "question": {
            "type": "string"
          },
          "documents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Document"
            }
          },
          "average_relevancy": {
            "type": "number"
          },
          "ndcg": {
            "type": "number"
          }
        },
        "required": [
          "question",
          "documents",
          "average_relevancy",
          "ndcg"
        ]
      },
      "RetrieveContextMessage": {
        "type": "object",
        "properties": {
          "role": {
            "type": "string"
          },
          "content": {
            "type": "string"
          }
        },
        "required": [
          "role",
          "content"
        ]
      },
      "RetrieveContext": {
        "type": "object",
        "properties": {
          "messages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RetrieveContextMessage"
            }
          }
        },
        "required": [
          "messages"
        ]
      },
      "AdvancedQuery": {
        "type": "object",
        "properties": {
          "mode": {
            "type": "string",
            "enum": [
              "text",
              "vector",
              "hybrid"
            ],
            "default": "vector"
          },
          "text-fields": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "match-type": {
            "type": "string",
            "enum": [
              "match",
              "match_phrase",
              "multi_match"
            ]
          },
          "text-boost": {
            "type": "number",
            "default": 1
          },
          "filters": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            }
          }
        },
        "additionalProperties": true
      },
      "RetrieveDocumentsRequest": {
        "type": "object",
        "properties": {
          "question": {
            "type": "string"
          },
          "numResults": {
            "type": "number",
            "minimum": 1
          },
          "rerank": {
            "type": "boolean",
            "default": true
          },
          "metadata-filters": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": {
                "nullable": true
              }
            }
          },
          "context": {
            "$ref": "#/components/schemas/RetrieveContext"
          },
          "advanced-query": {
            "$ref": "#/components/schemas/AdvancedQuery"
          }
        },
        "required": [
          "question",
          "numResults"
        ]
      },
      "StartPipelineResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          }
        },
        "required": [
          "message"
        ]
      },
      "StopPipelineResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          }
        },
        "required": [
          "message"
        ]
      },
      "StartDeepResearchResponse": {
        "type": "object",
        "properties": {
          "researchId": {
            "type": "string"
          }
        },
        "required": [
          "researchId"
        ]
      },
      "N8NConfig": {
        "type": "object",
        "properties": {
          "account": {
            "type": "string"
          },
          "webhookPath": {
            "type": "string"
          },
          "headers": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        },
        "required": [
          "account",
          "webhookPath"
        ]
      },
      "StartDeepResearchRequest": {
        "type": "object",
        "properties": {
          "query": {
            "type": "string"
          },
          "webSearch": {
            "type": "boolean",
            "default": false
          },
          "schema": {
            "type": "string"
          },
          "n8n": {
            "$ref": "#/components/schemas/N8NConfig"
          }
        },
        "required": [
          "query"
        ]
      },
      "DeepResearchResult": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "markdown": {
            "type": "string"
          },
          "error": {
            "type": "string"
          }
        },
        "required": [
          "success"
        ]
      },
      "GetDeepResearchResponse": {
        "type": "object",
        "properties": {
          "ready": {
            "type": "boolean"
          },
          "data": {
            "$ref": "#/components/schemas/DeepResearchResult"
          }
        },
        "required": [
          "ready"
        ]
      },
      "CreatedSourceConnector": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "id": {
            "type": "string"
          }
        },
        "required": [
          "name",
          "id"
        ]
      },
      "CreateSourceConnectorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "connector": {
            "$ref": "#/components/schemas/CreatedSourceConnector"
          }
        },
        "required": [
          "message",
          "connector"
        ]
      },
      "CreateSourceConnectorRequest": {
        "oneOf": [
          {
            "type": "object",
            "title": "AwsS3",
            "required": [
              "name",
              "type",
              "config"
            ],
            "properties": {
              "name": {
                "type": "string",
                "description": "Name of the connector"
              },
              "type": {
                "type": "string",
                "enum": [
                  "AWS_S3"
                ],
                "description": "Connector type (must be \"AWS_S3\")"
              },
              "config": {
                "$ref": "#/components/schemas/AWS_S3AuthConfig"
              }
            },
            "example": {
              "name": "Amazon S3 Example",
              "type": "AWS_S3",
              "config": {
                "access-key": "example-access-key",
                "secret-key": "example-secret-key",
                "bucket-name": "example-bucket-name",
                "region": "example-region",
                "archiver": false
              }
            }
          },
          {
            "type": "object",
            "title": "AzureBlob",
            "required": [
              "name",
              "type",
              "config"
            ],
            "properties": {
              "name": {
                "type": "string",
                "description": "Name of the connector"
              },
              "type": {
                "type": "string",
                "enum": [
                  "AZURE_BLOB"
                ],
                "description": "Connector type (must be \"AZURE_BLOB\")"
              },
              "config": {
                "$ref": "#/components/schemas/AZURE_BLOBAuthConfig"
              }
            },
            "example": {
              "name": "Azure Blob Storage Example",
              "type": "AZURE_BLOB",
              "config": {
                "storage-account-name": "example-storage-account-name",
                "storage-account-key": "example-storage-account-key",
                "container": "example-container"
              }
            }
          },
          {
            "type": "object",
            "title": "Confluence",
            "required": [
              "name",
              "type",
              "config"
            ],
            "properties": {
              "name": {
                "type": "string",
                "description": "Name of the connector"
              },
              "type": {
                "type": "string",
                "enum": [
                  "CONFLUENCE"
                ],
                "description": "Connector type (must be \"CONFLUENCE\")"
              },
              "config": {
                "$ref": "#/components/schemas/CONFLUENCEAuthConfig"
              }
            },
            "example": {
              "name": "Confluence Example",
              "type": "CONFLUENCE",
              "config": {
                "username": "example-username",
                "api-token": "example-api-token",
                "domain": "example-domain"
              }
            }
          },
          {
            "type": "object",
            "title": "Discord",
            "required": [
              "name",
              "type",
              "config"
            ],
            "properties": {
              "name": {
                "type": "string",
                "description": "Name of the connector"
              },
              "type": {
                "type": "string",
                "enum": [
                  "DISCORD"
                ],
                "description": "Connector type (must be \"DISCORD\")"
              },
              "config": {
                "$ref": "#/components/schemas/DISCORDAuthConfig"
              }
            },
            "example": {
              "name": "Discord Example",
              "type": "DISCORD",
              "config": {
                "server-id": "example-server-id",
                "bot-token": "example-bot-token",
                "channel-ids": "example-channel-ids"
              }
            }
          },
          {
            "type": "object",
            "title": "FileUpload",
            "required": [
              "name",
              "type"
            ],
            "properties": {
              "name": {
                "type": "string",
                "description": "Name of the connector"
              },
              "type": {
                "type": "string",
                "enum": [
                  "FILE_UPLOAD"
                ],
                "description": "Connector type (must be \"FILE_UPLOAD\")"
              }
            },
            "example": {
              "name": "File Upload Example",
              "type": "FILE_UPLOAD"
            }
          },
          {
            "type": "object",
            "title": "GoogleDrive",
            "required": [
              "name",
              "type",
              "config"
            ],
            "properties": {
              "name": {
                "type": "string",
                "description": "Name of the connector"
              },
              "type": {
                "type": "string",
                "enum": [
                  "GOOGLE_DRIVE"
                ],
                "description": "Connector type (must be \"GOOGLE_DRIVE\")"
              },
              "config": {
                "$ref": "#/components/schemas/GOOGLE_DRIVEAuthConfig"
              }
            },
            "example": {
              "name": "Google Drive (Service Account) Example",
              "type": "GOOGLE_DRIVE",
              "config": {
                "service-account-json": "example-service-account-json"
              }
            }
          },
          {
            "type": "object",
            "title": "Firecrawl",
            "required": [
              "name",
              "type",
              "config"
            ],
            "properties": {
              "name": {
                "type": "string",
                "description": "Name of the connector"
              },
              "type": {
                "type": "string",
                "enum": [
                  "FIRECRAWL"
                ],
                "description": "Connector type (must be \"FIRECRAWL\")"
              },
              "config": {
                "$ref": "#/components/schemas/FIRECRAWLAuthConfig"
              }
            },
            "example": {
              "name": "Firecrawl Example",
              "type": "FIRECRAWL",
              "config": {
                "api-key": "example-api-key"
              }
            }
          },
          {
            "type": "object",
            "title": "Gcs",
            "required": [
              "name",
              "type",
              "config"
            ],
            "properties": {
              "name": {
                "type": "string",
                "description": "Name of the connector"
              },
              "type": {
                "type": "string",
                "enum": [
                  "GCS"
                ],
                "description": "Connector type (must be \"GCS\")"
              },
              "config": {
                "$ref": "#/components/schemas/GCSAuthConfig"
              }
            },
            "example": {
              "name": "GCP Cloud Storage Example",
              "type": "GCS",
              "config": {
                "service-account-json": "example-service-account-json",
                "bucket-name": "example-bucket-name"
              }
            }
          },
          {
            "type": "object",
            "title": "OneDrive",
            "required": [
              "name",
              "type",
              "config"
            ],
            "properties": {
              "name": {
                "type": "string",
                "description": "Name of the connector"
              },
              "type": {
                "type": "string",
                "enum": [
                  "ONE_DRIVE"
                ],
                "description": "Connector type (must be \"ONE_DRIVE\")"
              },
              "config": {
                "$ref": "#/components/schemas/ONE_DRIVEAuthConfig"
              }
            },
            "example": {
              "name": "OneDrive Example",
              "type": "ONE_DRIVE",
              "config": {
                "ms-client-id": "example-ms-client-id",
                "ms-tenant-id": "example-ms-tenant-id",
                "ms-client-secret": "example-ms-client-secret",
                "users": "example-users"
              }
            }
          },
          {
            "type": "object",
            "title": "Sharepoint",
            "required": [
              "name",
              "type",
              "config"
            ],
            "properties": {
              "name": {
                "type": "string",
                "description": "Name of the connector"
              },
              "type": {
                "type": "string",
                "enum": [
                  "SHAREPOINT"
                ],
                "description": "Connector type (must be \"SHAREPOINT\")"
              },
              "config": {
                "$ref": "#/components/schemas/SHAREPOINTAuthConfig"
              }
            },
            "example": {
              "name": "SharePoint Example",
              "type": "SHAREPOINT",
              "config": {
                "ms-client-id": "example-ms-client-id",
                "ms-tenant-id": "example-ms-tenant-id",
                "ms-client-secret": "example-ms-client-secret"
              }
            }
          },
          {
            "type": "object",
            "title": "WebCrawler",
            "required": [
              "name",
              "type",
              "config"
            ],
            "properties": {
              "name": {
                "type": "string",
                "description": "Name of the connector"
              },
              "type": {
                "type": "string",
                "enum": [
                  "WEB_CRAWLER"
                ],
                "description": "Connector type (must be \"WEB_CRAWLER\")"
              },
              "config": {
                "$ref": "#/components/schemas/WEB_CRAWLERAuthConfig"
              }
            },
            "example": {
              "name": "Web Crawler Example",
              "type": "WEB_CRAWLER",
              "config": {}
            }
          },
          {
            "type": "object",
            "title": "Github",
            "required": [
              "name",
              "type",
              "config"
            ],
            "properties": {
              "name": {
                "type": "string",
                "description": "Name of the connector"
              },
              "type": {
                "type": "string",
                "enum": [
                  "GITHUB"
                ],
                "description": "Connector type (must be \"GITHUB\")"
              },
              "config": {
                "$ref": "#/components/schemas/GITHUBAuthConfig"
              }
            },
            "example": {
              "name": "GitHub Example",
              "type": "GITHUB",
              "config": {
                "oauth-token": "example-oauth-token"
              }
            }
          },
          {
            "type": "object",
            "title": "Fireflies",
            "required": [
              "name",
              "type",
              "config"
            ],
            "properties": {
              "name": {
                "type": "string",
                "description": "Name of the connector"
              },
              "type": {
                "type": "string",
                "enum": [
                  "FIREFLIES"
                ],
                "description": "Connector type (must be \"FIREFLIES\")"
              },
              "config": {
                "$ref": "#/components/schemas/FIREFLIESAuthConfig"
              }
            },
            "example": {
              "name": "Fireflies.ai Example",
              "type": "FIREFLIES",
              "config": {
                "api-key": "example-api-key"
              }
            }
          }
        ],
        "discriminator": {
          "propertyName": "type"
        }
      },
      "UpdateSourceConnectorResponseData": {
        "type": "object",
        "properties": {
          "updatedConnector": {
            "$ref": "#/components/schemas/SourceConnector"
          },
          "pipelineIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "updatedConnector"
        ]
      },
      "UpdateSourceConnectorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/UpdateSourceConnectorResponseData"
          }
        },
        "required": [
          "message",
          "data"
        ]
      },
      "UpdateSourceConnectorRequest": {
        "oneOf": [
          {
            "type": "object",
            "title": "AwsS3",
            "properties": {
              "config": {
                "$ref": "#/components/schemas/AWS_S3AuthConfig"
              }
            },
            "example": {
              "config": {
                "access-key": "Enter Access Key",
                "secret-key": "Enter Secret Key",
                "bucket-name": "Enter your S3 Bucket Name",
                "endpoint": "Enter Endpoint URL",
                "region": "Region Name",
                "archiver": false
              }
            }
          },
          {
            "type": "object",
            "title": "AzureBlob",
            "properties": {
              "config": {
                "$ref": "#/components/schemas/AZURE_BLOBAuthConfig"
              }
            },
            "example": {
              "config": {
                "storage-account-name": "Enter Storage Account Name",
                "storage-account-key": "Enter Storage Account Key",
                "container": "Enter Container Name",
                "endpoint": "Enter Endpoint URL"
              }
            }
          },
          {
            "type": "object",
            "title": "Confluence",
            "properties": {
              "config": {
                "$ref": "#/components/schemas/CONFLUENCEAuthConfig"
              }
            },
            "example": {
              "config": {
                "username": "Enter your Confluence username",
                "api-token": "Enter your Confluence API token",
                "domain": "Enter your Confluence domain (e.g. my-domain.atlassian.net or confluence.<my-company>.com)"
              }
            }
          },
          {
            "type": "object",
            "title": "Discord",
            "properties": {
              "config": {
                "$ref": "#/components/schemas/DISCORDAuthConfig"
              }
            },
            "example": {
              "config": {
                "server-id": "Enter Server ID",
                "bot-token": "Enter Token",
                "channel-ids": "Enter channel ID"
              }
            }
          },
          {
            "type": "object",
            "title": "Dropbox",
            "properties": {
              "config": {
                "$ref": "#/components/schemas/DROPBOXAuthConfig"
              }
            },
            "example": {
              "config": {}
            }
          },
          {
            "type": "object",
            "title": "DropboxOauth",
            "properties": {
              "config": {
                "$ref": "#/components/schemas/DROPBOX_OAUTHAuthConfig"
              }
            },
            "example": {
              "config": {}
            }
          },
          {
            "type": "object",
            "title": "DropboxOauthMulti",
            "properties": {
              "config": {
                "$ref": "#/components/schemas/DROPBOX_OAUTH_MULTIAuthConfig"
              }
            },
            "example": {
              "config": {}
            }
          },
          {
            "type": "object",
            "title": "DropboxOauthMultiCustom",
            "properties": {
              "config": {
                "$ref": "#/components/schemas/DROPBOX_OAUTH_MULTI_CUSTOMAuthConfig"
              }
            },
            "example": {
              "config": {}
            }
          },
          {
            "type": "object",
            "title": "FileUpload",
            "properties": {
              "config": {
                "$ref": "#/components/schemas/FILE_UPLOADAuthConfig"
              }
            },
            "example": {}
          },
          {
            "type": "object",
            "title": "GoogleDriveOauth",
            "properties": {
              "config": {
                "$ref": "#/components/schemas/GOOGLE_DRIVE_OAUTHAuthConfig"
              }
            },
            "example": {
              "config": {}
            }
          },
          {
            "type": "object",
            "title": "GoogleDrive",
            "properties": {
              "config": {
                "$ref": "#/components/schemas/GOOGLE_DRIVEAuthConfig"
              }
            },
            "example": {
              "config": {
                "service-account-json": "Enter the JSON key file for the service account"
              }
            }
          },
          {
            "type": "object",
            "title": "GoogleDriveOauthMulti",
            "properties": {
              "config": {
                "$ref": "#/components/schemas/GOOGLE_DRIVE_OAUTH_MULTIAuthConfig"
              }
            },
            "example": {
              "config": {}
            }
          },
          {
            "type": "object",
            "title": "GoogleDriveOauthMultiCustom",
            "properties": {
              "config": {
                "$ref": "#/components/schemas/GOOGLE_DRIVE_OAUTH_MULTI_CUSTOMAuthConfig"
              }
            },
            "example": {
              "config": {}
            }
          },
          {
            "type": "object",
            "title": "Firecrawl",
            "properties": {
              "config": {
                "$ref": "#/components/schemas/FIRECRAWLAuthConfig"
              }
            },
            "example": {
              "config": {
                "api-key": "Enter your Firecrawl API Key"
              }
            }
          },
          {
            "type": "object",
            "title": "Gcs",
            "properties": {
              "config": {
                "$ref": "#/components/schemas/GCSAuthConfig"
              }
            },
            "example": {
              "config": {
                "service-account-json": "Enter the JSON key file for the service account",
                "bucket-name": "Enter bucket name"
              }
            }
          },
          {
            "type": "object",
            "title": "Intercom",
            "properties": {
              "config": {
                "$ref": "#/components/schemas/INTERCOMAuthConfig"
              }
            },
            "example": {
              "config": {}
            }
          },
          {
            "type": "object",
            "title": "Notion",
            "properties": {
              "config": {
                "$ref": "#/components/schemas/NOTIONAuthConfig"
              }
            },
            "example": {
              "config": {}
            }
          },
          {
            "type": "object",
            "title": "NotionOauthMulti",
            "properties": {
              "config": {
                "$ref": "#/components/schemas/NOTION_OAUTH_MULTIAuthConfig"
              }
            },
            "example": {
              "config": {}
            }
          },
          {
            "type": "object",
            "title": "NotionOauthMultiCustom",
            "properties": {
              "config": {
                "$ref": "#/components/schemas/NOTION_OAUTH_MULTI_CUSTOMAuthConfig"
              }
            },
            "example": {
              "config": {}
            }
          },
          {
            "type": "object",
            "title": "OneDrive",
            "properties": {
              "config": {
                "$ref": "#/components/schemas/ONE_DRIVEAuthConfig"
              }
            },
            "example": {
              "config": {
                "ms-client-id": "Enter Client Id",
                "ms-tenant-id": "Enter Tenant Id",
                "ms-client-secret": "Enter Client Secret",
                "users": "Enter users emails to import files from. Example: developer@vectorize.io"
              }
            }
          },
          {
            "type": "object",
            "title": "Sharepoint",
            "properties": {
              "config": {
                "$ref": "#/components/schemas/SHAREPOINTAuthConfig"
              }
            },
            "example": {
              "config": {
                "ms-client-id": "Enter Client Id",
                "ms-tenant-id": "Enter Tenant Id",
                "ms-client-secret": "Enter Client Secret"
              }
            }
          },
          {
            "type": "object",
            "title": "WebCrawler",
            "properties": {
              "config": {
                "$ref": "#/components/schemas/WEB_CRAWLERAuthConfig"
              }
            },
            "example": {
              "config": {
                "seed-urls": "(e.g. https://example.com)"
              }
            }
          },
          {
            "type": "object",
            "title": "Github",
            "properties": {
              "config": {
                "$ref": "#/components/schemas/GITHUBAuthConfig"
              }
            },
            "example": {
              "config": {
                "oauth-token": "Enter your GitHub personal access token"
              }
            }
          },
          {
            "type": "object",
            "title": "Fireflies",
            "properties": {
              "config": {
                "$ref": "#/components/schemas/FIREFLIESAuthConfig"
              }
            },
            "example": {
              "config": {
                "api-key": "Enter your Fireflies.ai API key"
              }
            }
          }
        ]
      },
      "DeleteSourceConnectorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          }
        },
        "required": [
          "message"
        ]
      },
      "CreatedDestinationConnector": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "id": {
            "type": "string"
          }
        },
        "required": [
          "name",
          "id"
        ]
      },
      "CreateDestinationConnectorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "connector": {
            "$ref": "#/components/schemas/CreatedDestinationConnector"
          }
        },
        "required": [
          "message",
          "connector"
        ]
      },
      "DestinationConnectorType": {
        "type": "string",
        "enum": [
          "CAPELLA",
          "DATASTAX",
          "ELASTIC",
          "PINECONE",
          "SINGLESTORE",
          "MILVUS",
          "POSTGRESQL",
          "QDRANT",
          "SUPABASE",
          "WEAVIATE",
          "AZUREAISEARCH",
          "TURBOPUFFER"
        ]
      },
      "CreateDestinationConnectorRequest": {
        "oneOf": [
          {
            "type": "object",
            "title": "Capella",
            "required": [
              "name",
              "type",
              "config"
            ],
            "properties": {
              "name": {
                "type": "string",
                "description": "Name of the connector"
              },
              "type": {
                "type": "string",
                "enum": [
                  "CAPELLA"
                ],
                "description": "Connector type (must be \"CAPELLA\")"
              },
              "config": {
                "$ref": "#/components/schemas/CAPELLAAuthConfig"
              }
            },
            "example": {
              "name": "Couchbase Capella Example",
              "type": "CAPELLA",
              "config": {
                "bucket": "example-bucket",
                "scope": "example-scope",
                "collection": "example-collection",
                "index": "example-index"
              }
            }
          },
          {
            "type": "object",
            "title": "Datastax",
            "required": [
              "name",
              "type",
              "config"
            ],
            "properties": {
              "name": {
                "type": "string",
                "description": "Name of the connector"
              },
              "type": {
                "type": "string",
                "enum": [
                  "DATASTAX"
                ],
                "description": "Connector type (must be \"DATASTAX\")"
              },
              "config": {
                "$ref": "#/components/schemas/DATASTAXAuthConfig"
              }
            },
            "example": {
              "name": "DataStax Astra Example",
              "type": "DATASTAX",
              "config": {
                "collection": "example-collection"
              }
            }
          },
          {
            "type": "object",
            "title": "Elastic",
            "required": [
              "name",
              "type",
              "config"
            ],
            "properties": {
              "name": {
                "type": "string",
                "description": "Name of the connector"
              },
              "type": {
                "type": "string",
                "enum": [
                  "ELASTIC"
                ],
                "description": "Connector type (must be \"ELASTIC\")"
              },
              "config": {
                "$ref": "#/components/schemas/ELASTICAuthConfig"
              }
            },
            "example": {
              "name": "Elasticsearch Example",
              "type": "ELASTIC",
              "config": {
                "index": "example-index"
              }
            }
          },
          {
            "type": "object",
            "title": "Pinecone",
            "required": [
              "name",
              "type",
              "config"
            ],
            "properties": {
              "name": {
                "type": "string",
                "description": "Name of the connector"
              },
              "type": {
                "type": "string",
                "enum": [
                  "PINECONE"
                ],
                "description": "Connector type (must be \"PINECONE\")"
              },
              "config": {
                "$ref": "#/components/schemas/PINECONEAuthConfig"
              }
            },
            "example": {
              "name": "Pinecone Example",
              "type": "PINECONE",
              "config": {
                "index": "example-index",
                "namespace": "example-namespace"
              }
            }
          },
          {
            "type": "object",
            "title": "Singlestore",
            "required": [
              "name",
              "type",
              "config"
            ],
            "properties": {
              "name": {
                "type": "string",
                "description": "Name of the connector"
              },
              "type": {
                "type": "string",
                "enum": [
                  "SINGLESTORE"
                ],
                "description": "Connector type (must be \"SINGLESTORE\")"
              },
              "config": {
                "$ref": "#/components/schemas/SINGLESTOREAuthConfig"
              }
            },
            "example": {
              "name": "SingleStore Example",
              "type": "SINGLESTORE",
              "config": {
                "table": "example-table"
              }
            }
          },
          {
            "type": "object",
            "title": "Milvus",
            "required": [
              "name",
              "type",
              "config"
            ],
            "properties": {
              "name": {
                "type": "string",
                "description": "Name of the connector"
              },
              "type": {
                "type": "string",
                "enum": [
                  "MILVUS"
                ],
                "description": "Connector type (must be \"MILVUS\")"
              },
              "config": {
                "$ref": "#/components/schemas/MILVUSAuthConfig"
              }
            },
            "example": {
              "name": "Milvus Example",
              "type": "MILVUS",
              "config": {
                "collection": "example-collection"
              }
            }
          },
          {
            "type": "object",
            "title": "Postgresql",
            "required": [
              "name",
              "type",
              "config"
            ],
            "properties": {
              "name": {
                "type": "string",
                "description": "Name of the connector"
              },
              "type": {
                "type": "string",
                "enum": [
                  "POSTGRESQL"
                ],
                "description": "Connector type (must be \"POSTGRESQL\")"
              },
              "config": {
                "$ref": "#/components/schemas/POSTGRESQLAuthConfig"
              }
            },
            "example": {
              "name": "PostgreSQL Example",
              "type": "POSTGRESQL",
              "config": {
                "table": "example-table"
              }
            }
          },
          {
            "type": "object",
            "title": "Qdrant",
            "required": [
              "name",
              "type",
              "config"
            ],
            "properties": {
              "name": {
                "type": "string",
                "description": "Name of the connector"
              },
              "type": {
                "type": "string",
                "enum": [
                  "QDRANT"
                ],
                "description": "Connector type (must be \"QDRANT\")"
              },
              "config": {
                "$ref": "#/components/schemas/QDRANTAuthConfig"
              }
            },
            "example": {
              "name": "Qdrant Example",
              "type": "QDRANT",
              "config": {
                "collection": "example-collection"
              }
            }
          },
          {
            "type": "object",
            "title": "Supabase",
            "required": [
              "name",
              "type",
              "config"
            ],
            "properties": {
              "name": {
                "type": "string",
                "description": "Name of the connector"
              },
              "type": {
                "type": "string",
                "enum": [
                  "SUPABASE"
                ],
                "description": "Connector type (must be \"SUPABASE\")"
              },
              "config": {
                "$ref": "#/components/schemas/SUPABASEAuthConfig"
              }
            },
            "example": {
              "name": "Supabase Example",
              "type": "SUPABASE",
              "config": {
                "table": "example-table"
              }
            }
          },
          {
            "type": "object",
            "title": "Weaviate",
            "required": [
              "name",
              "type",
              "config"
            ],
            "properties": {
              "name": {
                "type": "string",
                "description": "Name of the connector"
              },
              "type": {
                "type": "string",
                "enum": [
                  "WEAVIATE"
                ],
                "description": "Connector type (must be \"WEAVIATE\")"
              },
              "config": {
                "$ref": "#/components/schemas/WEAVIATEAuthConfig"
              }
            },
            "example": {
              "name": "Weaviate Example",
              "type": "WEAVIATE",
              "config": {
                "collection": "example-collection"
              }
            }
          },
          {
            "type": "object",
            "title": "Azureaisearch",
            "required": [
              "name",
              "type",
              "config"
            ],
            "properties": {
              "name": {
                "type": "string",
                "description": "Name of the connector"
              },
              "type": {
                "type": "string",
                "enum": [
                  "AZUREAISEARCH"
                ],
                "description": "Connector type (must be \"AZUREAISEARCH\")"
              },
              "config": {
                "$ref": "#/components/schemas/AZUREAISEARCHAuthConfig"
              }
            },
            "example": {
              "name": "Azure AI Search Example",
              "type": "AZUREAISEARCH",
              "config": {
                "index": "example-index"
              }
            }
          },
          {
            "type": "object",
            "title": "Turbopuffer",
            "required": [
              "name",
              "type",
              "config"
            ],
            "properties": {
              "name": {
                "type": "string",
                "description": "Name of the connector"
              },
              "type": {
                "type": "string",
                "enum": [
                  "TURBOPUFFER"
                ],
                "description": "Connector type (must be \"TURBOPUFFER\")"
              },
              "config": {
                "$ref": "#/components/schemas/TURBOPUFFERAuthConfig"
              }
            },
            "example": {
              "name": "Turbopuffer Example",
              "type": "TURBOPUFFER",
              "config": {
                "namespace": "example-namespace"
              }
            }
          }
        ],
        "discriminator": {
          "propertyName": "type"
        }
      },
      "UpdatedDestinationConnectorData": {
        "type": "object",
        "properties": {
          "updatedConnector": {
            "$ref": "#/components/schemas/DestinationConnector"
          },
          "pipelineIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "updatedConnector"
        ]
      },
      "UpdateDestinationConnectorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/UpdatedDestinationConnectorData"
          }
        },
        "required": [
          "message",
          "data"
        ]
      },
      "UpdateDestinationConnectorRequest": {
        "oneOf": [
          {
            "type": "object",
            "title": "Capella",
            "properties": {
              "config": {
                "$ref": "#/components/schemas/CAPELLAAuthConfig"
              }
            },
            "example": {
              "config": {
                "username": "Enter your cluster access name",
                "password": "Enter your cluster access password",
                "connection-string": "Enter your connection string"
              }
            }
          },
          {
            "type": "object",
            "title": "Datastax",
            "properties": {
              "config": {
                "$ref": "#/components/schemas/DATASTAXAuthConfig"
              }
            },
            "example": {
              "config": {
                "endpoint_secret": "Enter your API endpoint",
                "token": "Enter your application token"
              }
            }
          },
          {
            "type": "object",
            "title": "Elastic",
            "properties": {
              "config": {
                "$ref": "#/components/schemas/ELASTICAuthConfig"
              }
            },
            "example": {
              "config": {
                "host": "Enter your host",
                "port": "Enter your port",
                "api-key": "Enter your API key"
              }
            }
          },
          {
            "type": "object",
            "title": "Pinecone",
            "properties": {
              "config": {
                "$ref": "#/components/schemas/PINECONEAuthConfig"
              }
            },
            "example": {
              "config": {
                "api-key": "Enter your API Key"
              }
            }
          },
          {
            "type": "object",
            "title": "Singlestore",
            "properties": {
              "config": {
                "$ref": "#/components/schemas/SINGLESTOREAuthConfig"
              }
            },
            "example": {
              "config": {
                "host": "Enter the host of the deployment",
                "port": 100,
                "database": "Enter the database name",
                "username": "Enter the username",
                "password": "Enter the username's password"
              }
            }
          },
          {
            "type": "object",
            "title": "Milvus",
            "properties": {
              "config": {
                "$ref": "#/components/schemas/MILVUSAuthConfig"
              }
            },
            "example": {
              "config": {
                "url": "Enter your public endpoint for your Milvus cluster",
                "token": "Enter your cluster token or Username/Password",
                "username": "Enter your cluster Username",
                "password": "Enter your cluster Password"
              }
            }
          },
          {
            "type": "object",
            "title": "Postgresql",
            "properties": {
              "config": {
                "$ref": "#/components/schemas/POSTGRESQLAuthConfig"
              }
            },
            "example": {
              "config": {
                "host": "Enter the host of the deployment",
                "port": 5432,
                "database": "Enter the database name",
                "username": "Enter the username",
                "password": "Enter the username's password"
              }
            }
          },
          {
            "type": "object",
            "title": "Qdrant",
            "properties": {
              "config": {
                "$ref": "#/components/schemas/QDRANTAuthConfig"
              }
            },
            "example": {
              "config": {
                "host": "Enter your host",
                "api-key": "Enter your API key"
              }
            }
          },
          {
            "type": "object",
            "title": "Supabase",
            "properties": {
              "config": {
                "$ref": "#/components/schemas/SUPABASEAuthConfig"
              }
            },
            "example": {
              "config": {
                "host": "aws-0-us-east-1.pooler.supabase.com",
                "port": 5432,
                "database": "Enter the database name",
                "username": "Enter the username",
                "password": "Enter the username's password"
              }
            }
          },
          {
            "type": "object",
            "title": "Weaviate",
            "properties": {
              "config": {
                "$ref": "#/components/schemas/WEAVIATEAuthConfig"
              }
            },
            "example": {
              "config": {
                "host": "Enter your Weaviate Cluster REST Endpoint",
                "api-key": "Enter your API key"
              }
            }
          },
          {
            "type": "object",
            "title": "Azureaisearch",
            "properties": {
              "config": {
                "$ref": "#/components/schemas/AZUREAISEARCHAuthConfig"
              }
            },
            "example": {
              "config": {
                "service-name": "Enter your Azure AI Search service name",
                "api-key": "Enter your API key"
              }
            }
          },
          {
            "type": "object",
            "title": "Turbopuffer",
            "properties": {
              "config": {
                "$ref": "#/components/schemas/TURBOPUFFERAuthConfig"
              }
            },
            "example": {
              "config": {
                "api-key": "Enter your API key"
              }
            }
          }
        ]
      },
      "DeleteDestinationConnectorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          }
        },
        "required": [
          "message"
        ]
      },
      "CreatedAIPlatformConnector": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "id": {
            "type": "string"
          }
        },
        "required": [
          "name",
          "id"
        ]
      },
      "CreateAIPlatformConnectorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "connector": {
            "$ref": "#/components/schemas/CreatedAIPlatformConnector"
          }
        },
        "required": [
          "message",
          "connector"
        ]
      },
      "AIPlatformType": {
        "type": "string",
        "enum": [
          "BEDROCK",
          "VERTEX",
          "OPENAI",
          "VOYAGE"
        ]
      },
      "CreateAIPlatformConnectorRequest": {
        "oneOf": [
          {
            "type": "object",
            "title": "Bedrock",
            "required": [
              "name",
              "type",
              "config"
            ],
            "properties": {
              "name": {
                "type": "string",
                "description": "Name of the connector"
              },
              "type": {
                "type": "string",
                "enum": [
                  "BEDROCK"
                ],
                "description": "Connector type (must be \"BEDROCK\")"
              },
              "config": {
                "$ref": "#/components/schemas/BEDROCKAuthConfig"
              }
            },
            "example": {
              "name": "Amazon Bedrock Example",
              "type": "BEDROCK",
              "config": {
                "access-key": "example-access-key",
                "key": "example-key"
              }
            }
          },
          {
            "type": "object",
            "title": "Vertex",
            "required": [
              "name",
              "type",
              "config"
            ],
            "properties": {
              "name": {
                "type": "string",
                "description": "Name of the connector"
              },
              "type": {
                "type": "string",
                "enum": [
                  "VERTEX"
                ],
                "description": "Connector type (must be \"VERTEX\")"
              },
              "config": {
                "$ref": "#/components/schemas/VERTEXAuthConfig"
              }
            },
            "example": {
              "name": "Google Vertex AI Example",
              "type": "VERTEX",
              "config": {
                "key": "example-key",
                "region": "example-region"
              }
            }
          },
          {
            "type": "object",
            "title": "Openai",
            "required": [
              "name",
              "type",
              "config"
            ],
            "properties": {
              "name": {
                "type": "string",
                "description": "Name of the connector"
              },
              "type": {
                "type": "string",
                "enum": [
                  "OPENAI"
                ],
                "description": "Connector type (must be \"OPENAI\")"
              },
              "config": {
                "$ref": "#/components/schemas/OPENAIAuthConfig"
              }
            },
            "example": {
              "name": "OpenAI Example",
              "type": "OPENAI",
              "config": {
                "key": "example-key"
              }
            }
          },
          {
            "type": "object",
            "title": "Voyage",
            "required": [
              "name",
              "type",
              "config"
            ],
            "properties": {
              "name": {
                "type": "string",
                "description": "Name of the connector"
              },
              "type": {
                "type": "string",
                "enum": [
                  "VOYAGE"
                ],
                "description": "Connector type (must be \"VOYAGE\")"
              },
              "config": {
                "$ref": "#/components/schemas/VOYAGEAuthConfig"
              }
            },
            "example": {
              "name": "Voyage AI Example",
              "type": "VOYAGE",
              "config": {
                "key": "example-key"
              }
            }
          }
        ],
        "discriminator": {
          "propertyName": "type"
        }
      },
      "UpdatedAIPlatformConnectorData": {
        "type": "object",
        "properties": {
          "updatedConnector": {
            "$ref": "#/components/schemas/AIPlatform"
          },
          "pipelineIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "updatedConnector"
        ]
      },
      "UpdateAIPlatformConnectorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/UpdatedAIPlatformConnectorData"
          }
        },
        "required": [
          "message",
          "data"
        ]
      },
      "UpdateAIPlatformConnectorRequest": {
        "oneOf": [
          {
            "type": "object",
            "title": "Bedrock",
            "properties": {
              "config": {
                "type": "object",
                "description": "Configuration updates"
              }
            },
            "example": {
              "config": {}
            }
          },
          {
            "type": "object",
            "title": "Vertex",
            "properties": {
              "config": {
                "type": "object",
                "description": "Configuration updates"
              }
            },
            "example": {
              "config": {}
            }
          },
          {
            "type": "object",
            "title": "Openai",
            "properties": {
              "config": {
                "type": "object",
                "description": "Configuration updates"
              }
            },
            "example": {
              "config": {}
            }
          },
          {
            "type": "object",
            "title": "Voyage",
            "properties": {
              "config": {
                "type": "object",
                "description": "Configuration updates"
              }
            },
            "example": {
              "config": {}
            }
          }
        ]
      },
      "DeleteAIPlatformConnectorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          }
        },
        "required": [
          "message"
        ]
      },
      "UploadFile": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "size": {
            "type": "number"
          },
          "extension": {
            "type": "string"
          },
          "lastModified": {
            "type": "string",
            "nullable": true
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            }
          }
        },
        "required": [
          "key",
          "name",
          "size",
          "lastModified",
          "metadata"
        ]
      },
      "GetUploadFilesResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "files": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UploadFile"
            }
          }
        },
        "required": [
          "message",
          "files"
        ]
      },
      "StartFileUploadToConnectorResponse": {
        "type": "object",
        "properties": {
          "uploadUrl": {
            "type": "string"
          }
        },
        "required": [
          "uploadUrl"
        ]
      },
      "StartFileUploadToConnectorRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "contentType": {
            "type": "string"
          },
          "metadata": {
            "type": "string"
          }
        },
        "required": [
          "name",
          "contentType"
        ]
      },
      "DeleteFileResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "fileName": {
            "type": "string"
          }
        },
        "required": [
          "message",
          "fileName"
        ]
      },
      "StartExtractionResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "extractionId": {
            "type": "string"
          }
        },
        "required": [
          "message",
          "extractionId"
        ]
      },
      "ExtractionType": {
        "type": "string",
        "enum": [
          "iris"
        ],
        "default": "iris"
      },
      "ExtractionChunkingStrategy": {
        "type": "string",
        "enum": [
          "markdown"
        ],
        "default": "markdown"
      },
      "MetadataExtractionStrategySchema": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "schema": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "schema"
        ]
      },
      "MetadataExtractionStrategy": {
        "type": "object",
        "properties": {
          "schemas": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MetadataExtractionStrategySchema"
            }
          },
          "inferSchema": {
            "type": "boolean"
          }
        }
      },
      "StartExtractionRequest": {
        "type": "object",
        "properties": {
          "fileId": {
            "type": "string"
          },
          "type": {
            "$ref": "#/components/schemas/ExtractionType"
          },
          "chunkingStrategy": {
            "$ref": "#/components/schemas/ExtractionChunkingStrategy"
          },
          "chunkSize": {
            "type": "number",
            "default": 256
          },
          "metadata": {
            "$ref": "#/components/schemas/MetadataExtractionStrategy"
          }
        },
        "required": [
          "fileId"
        ]
      },
      "ExtractionResult": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "chunks": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "text": {
            "type": "string"
          },
          "metadata": {
            "type": "string"
          },
          "metadataSchema": {
            "type": "string"
          },
          "chunksMetadata": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "chunksSchema": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "error": {
            "type": "string"
          }
        },
        "required": [
          "success"
        ]
      },
      "ExtractionResultResponse": {
        "type": "object",
        "properties": {
          "ready": {
            "type": "boolean"
          },
          "data": {
            "$ref": "#/components/schemas/ExtractionResult"
          }
        },
        "required": [
          "ready"
        ]
      },
      "StartFileUploadResponse": {
        "type": "object",
        "properties": {
          "fileId": {
            "type": "string"
          },
          "uploadUrl": {
            "type": "string"
          }
        },
        "required": [
          "fileId",
          "uploadUrl"
        ]
      },
      "StartFileUploadRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "contentType": {
            "type": "string"
          }
        },
        "required": [
          "name",
          "contentType"
        ]
      },
      "AddUserFromSourceConnectorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          }
        },
        "required": [
          "message"
        ]
      },
      "AddUserToSourceConnectorRequest": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string"
          },
          "selectedFiles": {
            "anyOf": [
              {
                "type": "object",
                "additionalProperties": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "mimeType": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "name",
                    "mimeType"
                  ]
                }
              },
              {
                "type": "object",
                "properties": {
                  "pageIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "databaseIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            ]
          },
          "refreshToken": {
            "type": "string"
          },
          "accessToken": {
            "type": "string"
          }
        },
        "required": [
          "userId",
          "selectedFiles"
        ]
      },
      "UpdateUserInSourceConnectorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          }
        },
        "required": [
          "message"
        ]
      },
      "UpdateUserInSourceConnectorRequest": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string"
          },
          "selectedFiles": {
            "anyOf": [
              {
                "type": "object",
                "additionalProperties": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "mimeType": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "name",
                    "mimeType"
                  ]
                }
              },
              {
                "type": "object",
                "properties": {
                  "pageIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "databaseIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            ]
          },
          "refreshToken": {
            "type": "string"
          },
          "accessToken": {
            "type": "string"
          }
        },
        "required": [
          "userId"
        ]
      },
      "RemoveUserFromSourceConnectorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          }
        },
        "required": [
          "message"
        ]
      },
      "RemoveUserFromSourceConnectorRequest": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string"
          }
        },
        "required": [
          "userId"
        ]
      },
      "AWS_S3AuthConfig": {
        "type": "object",
        "description": "Authentication configuration for Amazon S3",
        "properties": {
          "access-key": {
            "type": "string",
            "format": "password",
            "description": "Access Key. Example: Enter Access Key",
            "pattern": "^\\S.*\\S$|^\\S$"
          },
          "secret-key": {
            "type": "string",
            "format": "password",
            "description": "Secret Key. Example: Enter Secret Key",
            "pattern": "^\\S.*\\S$|^\\S$"
          },
          "bucket-name": {
            "type": "string",
            "description": "Bucket Name. Example: Enter your S3 Bucket Name"
          },
          "endpoint": {
            "type": "string",
            "description": "Endpoint. Example: Enter Endpoint URL"
          },
          "region": {
            "type": "string",
            "description": "Region. Example: Region Name"
          },
          "archiver": {
            "type": "boolean",
            "description": "Allow as archive destination",
            "default": false
          }
        },
        "required": [
          "access-key",
          "secret-key",
          "bucket-name",
          "archiver"
        ]
      },
      "AWS_S3Config": {
        "type": "object",
        "description": "Configuration for Amazon S3 connector",
        "properties": {
          "file-extensions": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "pdf",
                "doc,docx,gdoc,odt,rtf,epub",
                "ppt,pptx,gslides",
                "xls,xlsx,gsheets,ods",
                "eml,msg",
                "txt",
                "html,htm",
                "md",
                "jpg,jpeg,png,webp,svg,gif",
                "json",
                "csv"
              ]
            },
            "description": "File Extensions",
            "default": [
              "pdf",
              "doc",
              "docx",
              "gdoc",
              "odt",
              "rtf",
              "epub",
              "ppt",
              "pptx",
              "gslides",
              "xls",
              "xlsx",
              "gsheets",
              "ods",
              "eml",
              "msg",
              "txt",
              "html",
              "htm",
              "md",
              "jpg",
              "jpeg",
              "png",
              "webp",
              "svg",
              "gif"
            ],
            "enum": [
              "pdf",
              "doc,docx,gdoc,odt,rtf,epub",
              "ppt,pptx,gslides",
              "xls,xlsx,gsheets,ods",
              "eml,msg",
              "txt",
              "html,htm",
              "md",
              "jpg,jpeg,png,webp,svg,gif",
              "json",
              "csv"
            ]
          },
          "idle-time": {
            "type": "number",
            "description": "Check for updates every (seconds)",
            "minimum": 1,
            "default": 30
          },
          "recursive": {
            "type": "boolean",
            "description": "Recursively scan all folders in the bucket"
          },
          "path-prefix": {
            "type": "string",
            "description": "Path Prefix"
          },
          "path-metadata-regex": {
            "type": "string",
            "description": "Path Metadata Regex"
          },
          "path-regex-group-names": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Path Regex Group Names. Example: Enter Group Name"
          }
        },
        "required": [
          "file-extensions",
          "idle-time"
        ]
      },
      "AZURE_BLOBAuthConfig": {
        "type": "object",
        "description": "Authentication configuration for Azure Blob Storage",
        "properties": {
          "storage-account-name": {
            "type": "string",
            "description": "Storage Account Name. Example: Enter Storage Account Name"
          },
          "storage-account-key": {
            "type": "string",
            "format": "password",
            "description": "Storage Account Key. Example: Enter Storage Account Key"
          },
          "container": {
            "type": "string",
            "description": "Container. Example: Enter Container Name"
          },
          "endpoint": {
            "type": "string",
            "description": "Endpoint. Example: Enter Endpoint URL"
          }
        },
        "required": [
          "storage-account-name",
          "storage-account-key",
          "container"
        ]
      },
      "AZURE_BLOBConfig": {
        "type": "object",
        "description": "Configuration for Azure Blob Storage connector",
        "properties": {
          "file-extensions": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "pdf",
                "doc,docx,gdoc,odt,rtf,epub",
                "ppt,pptx,gslides",
                "xls,xlsx,gsheets,ods",
                "eml,msg",
                "txt",
                "html,htm",
                "md",
                "jpg,jpeg,png,webp,svg,gif",
                "json",
                "csv"
              ]
            },
            "description": "File Extensions",
            "default": [
              "pdf",
              "doc",
              "docx",
              "gdoc",
              "odt",
              "rtf",
              "epub",
              "ppt",
              "pptx",
              "gslides",
              "xls",
              "xlsx",
              "gsheets",
              "ods",
              "eml",
              "msg",
              "txt",
              "html",
              "htm",
              "md",
              "jpg",
              "jpeg",
              "png",
              "webp",
              "svg",
              "gif"
            ],
            "enum": [
              "pdf",
              "doc,docx,gdoc,odt,rtf,epub",
              "ppt,pptx,gslides",
              "xls,xlsx,gsheets,ods",
              "eml,msg",
              "txt",
              "html,htm",
              "md",
              "jpg,jpeg,png,webp,svg,gif",
              "json",
              "csv"
            ]
          },
          "idle-time": {
            "type": "number",
            "description": "Polling Interval (seconds)",
            "minimum": 1,
            "default": 30
          },
          "recursive": {
            "type": "boolean",
            "description": "Recursively scan all folders in the bucket"
          },
          "path-prefix": {
            "type": "string",
            "description": "Path Prefix"
          },
          "path-metadata-regex": {
            "type": "string",
            "description": "Path Metadata Regex"
          },
          "path-regex-group-names": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Path Regex Group Names. Example: Enter Group Name"
          }
        },
        "required": [
          "file-extensions",
          "idle-time"
        ]
      },
      "CONFLUENCEAuthConfig": {
        "type": "object",
        "description": "Authentication configuration for Confluence",
        "properties": {
          "username": {
            "type": "string",
            "description": "Username. Example: Enter your Confluence username"
          },
          "api-token": {
            "type": "string",
            "format": "password",
            "description": "API Token. Example: Enter your Confluence API token",
            "pattern": "^\\S.*\\S$|^\\S$"
          },
          "domain": {
            "type": "string",
            "description": "Domain. Example: Enter your Confluence domain (e.g. my-domain.atlassian.net or confluence.<my-company>.com)"
          }
        },
        "required": [
          "username",
          "api-token",
          "domain"
        ]
      },
      "CONFLUENCEConfig": {
        "type": "object",
        "description": "Configuration for Confluence connector",
        "properties": {
          "spaces": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Spaces. Example: Spaces to include (name, key or id)"
          },
          "root-parents": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Root Parents. Example: Enter root parent pages"
          }
        },
        "required": [
          "spaces"
        ]
      },
      "DISCORDAuthConfig": {
        "type": "object",
        "description": "Authentication configuration for Discord",
        "properties": {
          "server-id": {
            "type": "string",
            "description": "Server ID. Example: Enter Server ID"
          },
          "bot-token": {
            "type": "string",
            "format": "password",
            "description": "Bot token. Example: Enter Token",
            "pattern": "^\\S.*\\S$|^\\S$"
          },
          "channel-ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Channel ID. Example: Enter channel ID"
          }
        },
        "required": [
          "server-id",
          "bot-token",
          "channel-ids"
        ]
      },
      "DISCORDConfig": {
        "type": "object",
        "description": "Configuration for Discord connector",
        "properties": {
          "emoji": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Emoji Filter. Example: Enter custom emoji filter name"
          },
          "author": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Author Filter. Example: Enter author name"
          },
          "ignore-author": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Ignore Author Filter. Example: Enter ignore author name"
          },
          "limit": {
            "type": "number",
            "description": "Limit. Example: Enter limit",
            "minimum": 1,
            "default": 10000
          },
          "thread-message-inclusion": {
            "type": "string",
            "description": "Thread Message Inclusion",
            "default": "ALL",
            "enum": [
              "ALL",
              "FILTER"
            ]
          },
          "filter-logic": {
            "type": "string",
            "description": "Filter Logic",
            "default": "AND",
            "enum": [
              "AND",
              "OR"
            ]
          },
          "thread-message-mode": {
            "type": "string",
            "description": "Thread Message Mode",
            "default": "CONCATENATE",
            "enum": [
              "CONCATENATE",
              "SINGLE"
            ]
          }
        }
      },
      "DROPBOXAuthConfig": {
        "type": "object",
        "description": "Authentication configuration for Dropbox (Legacy)",
        "properties": {
          "refresh-token": {
            "type": "string",
            "format": "password",
            "description": "Connect Dropbox to Vectorize. Example: Authorize",
            "pattern": "^\\S.*\\S$|^\\S$"
          }
        },
        "required": [
          "refresh-token"
        ]
      },
      "DROPBOXConfig": {
        "type": "object",
        "description": "Configuration for Dropbox (Legacy) connector",
        "properties": {
          "path-prefix": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Read from these folders (optional). Example: Enter Path: /exampleFolder/subFolder",
            "pattern": "^\\/.*$"
          }
        }
      },
      "DROPBOX_OAUTHAuthConfig": {
        "type": "object",
        "description": "Authentication configuration for Dropbox OAuth",
        "properties": {
          "authorized-user": {
            "type": "string",
            "description": "Authorized User"
          },
          "selection-details": {
            "type": "string",
            "description": "Connect Dropbox to Vectorize. Example: Authorize"
          },
          "editedUsers": {
            "type": "object",
            "default": {}
          },
          "reconnectUsers": {
            "type": "object",
            "default": {}
          }
        },
        "required": [
          "selection-details"
        ]
      },
      "DROPBOX_OAUTH_MULTIAuthConfig": {
        "type": "object",
        "description": "Authentication configuration for Dropbox Multi-User (Vectorize)",
        "properties": {
          "authorized-users": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Authorized Users"
          },
          "editedUsers": {
            "type": "object",
            "default": {}
          },
          "deletedUsers": {
            "type": "object",
            "default": {}
          }
        }
      },
      "DROPBOX_OAUTH_MULTI_CUSTOMAuthConfig": {
        "type": "object",
        "description": "Authentication configuration for Dropbox Multi-User (White Label)",
        "properties": {
          "app-key": {
            "type": "string",
            "format": "password",
            "description": "Dropbox App Key. Example: Enter App Key"
          },
          "app-secret": {
            "type": "string",
            "format": "password",
            "description": "Dropbox App Secret. Example: Enter App Secret"
          },
          "authorized-users": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Authorized Users"
          },
          "editedUsers": {
            "type": "object",
            "default": {}
          },
          "deletedUsers": {
            "type": "object",
            "default": {}
          }
        },
        "required": [
          "app-key",
          "app-secret"
        ]
      },
      "FILE_UPLOADAuthConfig": {
        "type": "object",
        "description": "Authentication configuration for File Upload",
        "properties": {
          "path-prefix": {
            "type": "string",
            "description": "Path Prefix"
          },
          "files": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Choose files. Files uploaded to this connector can be used in pipelines to vectorize their contents. Note: files with the same name will be overwritten."
          }
        }
      },
      "FILE_UPLOADCreateConfig": {
        "type": "object",
        "description": "Create configuration for File Upload",
        "properties": {}
      },
      "GOOGLE_DRIVE_OAUTHAuthConfig": {
        "type": "object",
        "description": "Authentication configuration for Google Drive OAuth",
        "properties": {
          "authorized-user": {
            "type": "string",
[...]
