{
  "openapi": "3.0.0",
  "info": {
    "title": "Vectorize API (Beta)",
    "version": "0.0.0",
    "description": "API documentation for Vectorize services - Note: This is a Beta implementation and is subject to change",
    "contact": {
      "name": "Vectorize",
      "url": "https://vectorize.io"
    }
  },
  "servers": [
    {
      "url": "https://api.vectorize.io/v1",
      "description": "Vectorize API to Manage RAG Pipelines"
    }
  ],
  "tags": [
    {
      "name": "Connectors",
      "description": "All connector operations"
    },
    {
      "name": "Connectors/Sources",
      "description": "Source connector management"
    },
    {
      "name": "Connectors/Destinations",
      "description": "Destination connector management"
    },
    {
      "name": "Connectors/AIPlatforms",
      "description": "AI Platform connector management"
    },
    {
      "name": "Files",
      "description": "File management"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/org/{organizationId}/connectors/aiplatforms/{aiplatformId}": {
      "get": {
        "summary": "Get AI platform details",
        "tags": [
          "Connectors/AI Platforms"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization ID"
          },
          {
            "name": "aiplatformId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "AI Platform ID"
          }
        ],
        "responses": {
          "200": {
            "description": "AI platform details retrieved successfully"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "AI platform not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "delete": {
        "summary": "Delete an AI platform",
        "tags": [
          "Connectors/AI Platforms"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization ID"
          },
          {
            "name": "aiplatformId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "AI Platform ID"
          }
        ],
        "responses": {
          "200": {
            "description": "AI platform deleted successfully"
          },
          "400": {
            "description": "Bad request - AI platform is in use by pipelines"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "AI platform not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "patch": {
        "summary": "Update AI platform details",
        "tags": [
          "Connectors/AI Platforms"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization ID"
          },
          {
            "name": "aiplatformId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "AI Platform ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "configuration": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "AI platform updated successfully"
          },
          "400": {
            "description": "Bad request - Invalid input"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "AI platform not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/org/{organizationId}/connectors/aiplatforms": {
      "post": {
        "summary": "Create a new AI platform connector",
        "tags": [
          "Connectors/AI Platforms"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organizationId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the organization"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "type"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "AI platform connector created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Workspace not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "get": {
        "summary": "List AI platform connectors",
        "tags": [
          "Connectors/AI Platforms"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organizationId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the organization"
          }
        ],
        "responses": {
          "200": {
            "description": "List of AI platform connectors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "formattedConnectors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No workspace found or no AI Platforms found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/org/{organizationId}/connectors/destinations/{destinationConnectorId}": {
      "get": {
        "summary": "Get a destination connector",
        "tags": [
          "Connectors/Destinations"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization ID"
          },
          {
            "name": "destinationConnectorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Destination connector ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Destination connector retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Destination connector not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update a destination connector",
        "tags": [
          "Connectors/Destinations"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization ID"
          },
          {
            "name": "destinationConnectorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Destination connector ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "config": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Destination connector updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Destination connector not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Connectors/Destinations"
        ],
        "summary": "Delete a destination connector",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization ID"
          },
          {
            "name": "destinationConnectorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Destination connector ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Destination connector deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Connector is in use by pipelines",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/org/{organizationId}/connectors/destinations": {
      "get": {
        "summary": "List destination connectors",
        "tags": [
          "Connectors/Destinations"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organizationId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Destination connectors retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "destinationConnectors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No connectors found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "post": {
        "summary": "Create destination connectors",
        "tags": [
          "Connectors/Destinations"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organizationId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object"
                },
                "minItems": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Connectors created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "connectors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid connector configuration"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/org/{organizationId}/connectors/sources/{sourceConnectorId}": {
      "get": {
        "summary": "Get source connector details",
        "tags": [
          "Connectors/Sources"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organizationId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization ID"
          },
          {
            "in": "path",
            "name": "sourceConnectorId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Source Connector ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Source connector retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "configDoc": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Connector not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "patch": {
        "summary": "Update source connector",
        "tags": [
          "Connectors/Sources"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organizationId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization ID"
          },
          {
            "in": "path",
            "name": "sourceConnectorId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Source Connector ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "type"
                ],
                "properties": {
                  "type": {
                    "type": "string"
                  },
                  "configDoc": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Connector updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "updatedConnector": {
                          "type": "object"
                        },
                        "updatedPipelinesIds": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid connector configuration"
          },
          "404": {
            "description": "Connector not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "delete": {
        "summary": "Delete source connector",
        "tags": [
          "Connectors/Sources"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organizationId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization ID"
          },
          {
            "in": "path",
            "name": "sourceConnectorId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Source Connector ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Connector deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Connector in use by pipelines"
          },
          "404": {
            "description": "Connector not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/org/{organizationId}/connectors/sources": {
      "get": {
        "summary": "List source connectors",
        "tags": [
          "Connectors/Sources"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organizationId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Source connectors retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sourceConnectors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No connectors found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "post": {
        "summary": "Create source connectors",
        "tags": [
          "Connectors/Sources"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organizationId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object"
                },
                "minItems": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Connectors created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "connectors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid connector configuration"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/org/{organizationId}/pipelines/{pipelineId}/events": {
      "get": {
        "summary": "Get pipeline events",
        "tags": [
          "Pipelines"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organizationId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization ID"
          },
          {
            "in": "path",
            "name": "pipelineId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Pipeline ID"
          },
          {
            "in": "query",
            "name": "nextToken",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Pagination token for next page of results"
          }
        ],
        "responses": {
          "200": {
            "description": "Pipeline events retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              },
                              "timestamp": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "details": {
                                "type": "object"
                              }
                            }
                          }
                        },
                        "nextToken": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Pipeline not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/org/{organizationId}/pipelines/{pipelineId}/metrics": {
      "get": {
        "summary": "Get pipeline metrics",
        "tags": [
          "Pipelines"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organizationId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization ID"
          },
          {
            "in": "path",
            "name": "pipelineId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Pipeline ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Pipeline metrics retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "documentCount": {
                          "type": "number"
                        },
                        "vectorCount": {
                          "type": "number"
                        },
                        "lastUpdated": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Pipeline not found or no metrics available"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/org/{orgId}/pipelines/{pipelineId}/retrieval": {
      "post": {
        "summary": "Retrieve relevant documents based on a query",
        "operationId": "retrieveDocuments",
        "tags": [
          "Pipelines"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization ID"
          },
          {
            "in": "path",
            "name": "pipelineId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Pipeline ID"
          },
          {
            "in": "query",
            "name": "stringify",
            "description": "Control JSON stringification of response value",
            "schema": {
              "type": "string",
              "enum": [
                true,
                false
              ],
              "default": false
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "question": {
                    "type": "string",
                    "description": "Query text to find relevant documents"
                  },
                  "numResults": {
                    "type": "number",
                    "description": "Number of results to return"
                  },
                  "rerank": {
                    "type": "boolean",
                    "description": "Whether to rerank results"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Retrieved documents successfully",
            "content": {
              "application/json": {
                "schema": {
                  "title": "RetrieveDocumentsResponse",
                  "type": "object",
                  "properties": {
                    "record": {
                      "type": "object",
                      "properties": {
                        "value": {
                          "type": "object",
                          "description": "Document retrieval results"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/org/{organizationId}/pipelines/{pipelineId}": {
      "get": {
        "summary": "Get pipeline details",
        "tags": [
          "Pipelines"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organizationId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization ID"
          },
          {
            "in": "path",
            "name": "pipelineId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Pipeline ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Pipeline details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "sourceConnectors": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "destinationConnector": {
                      "type": "object"
                    },
                    "aiPlatform": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Pipeline not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "delete": {
        "summary": "Delete pipeline",
        "tags": [
          "Pipelines"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organizationId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization ID"
          },
          {
            "in": "path",
            "name": "pipelineId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Pipeline ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Pipeline deleted successfully"
          },
          "404": {
            "description": "Pipeline not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/org/{organizationId}/pipelines/{pipelineId}/start": {
      "post": {
        "summary": "Start a pipeline",
        "tags": [
          "Pipelines"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organizationId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization ID"
          },
          {
            "in": "path",
            "name": "pipelineId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Pipeline ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Pipeline started successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Pipeline not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/org/{organizationId}/pipelines/{pipelineId}/stop": {
      "post": {
        "summary": "Stop a pipeline",
        "tags": [
          "Pipelines"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organizationId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization ID"
          },
          {
            "in": "path",
            "name": "pipelineId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Pipeline ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Pipeline stopped successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Pipeline not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/org/{organizationId}/pipelines": {
      "get": {
        "summary": "List all pipelines",
        "tags": [
          "Pipelines"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organizationId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Pipelines retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pipelines": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "post": {
        "summary": "Create a new pipeline",
        "tags": [
          "Pipelines"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organizationId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "type"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "pipeline",
                      "experiment"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Pipeline created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid pipeline configuration"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/org/{organizationId}/uploads/{connectorId}/files": {
      "get": {
        "summary": "Get files from the connector storage",
        "tags": [
          "Files"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization ID"
          },
          {
            "name": "connectorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Connector ID"
          }
        ],
        "responses": {
          "200": {
            "description": "List of files retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "files": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "fileName": {
                            "type": "string"
                          },
                          "size": {
                            "type": "number"
                          },
                          "lastModified": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Upload a file to the connector storage",
        "tags": [
          "Files"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization ID"
          },
          {
            "name": "connectorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Connector ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File uploaded successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "File uploaded successfully"
                    },
                    "fileName": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a file from the connector storage",
        "tags": [
          "Files"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization ID"
          },
          {
            "name": "connectorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Connector ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "fileName"
                ],
                "properties": {
                  "fileName": {
                    "type": "string",
                    "description": "Name of the file to delete"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "File and associated metadata deleted successfully"
                    },
                    "fileName": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Missing required parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication"
          },
          "403": {
            "description": "Forbidden - User does not have permission"
          },
          "404": {
            "description": "Not found - Connector or file not found"
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}