{
    "openapi": "3.0.0",
    "info": {
        "title": "Vectorize API (Beta)",
        "version": "0.0.1",
        "description": "API for Vectorize services",
        "contact": {
            "name": "Vectorize",
            "url": "https://vectorize.io"
        }
    },
    "servers": [
        {
            "url": "https://api.vectorize.io/v1",
            "description": "Vectorize API"
        }
    ],
    "components": {
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "scheme": "bearer",
                "bearerFormat": "JWT"
            }
        },
        "schemas": {
            "CreatePipelineResponse": {
                "type": "object",
                "properties": {
                    "message": {
                        "type": "string"
                    },
                    "data": {
                        "type": "object",
                        "properties": {
                            "id": {
                                "type": "string"
                            }
                        },
                        "required": [
                            "id"
                        ]
                    }
                },
                "required": [
                    "message",
                    "data"
                ]
            },
            "SourceConnectorType": {
                "type": "string",
                "enum": [
                    "AWS_S3",
                    "AZURE_BLOB",
                    "CONFLUENCE",
                    "DISCORD",
                    "DROPBOX",
                    "DROPBOX_OAUTH",
                    "DROPBOX_OAUTH_MULTI",
                    "DROPBOX_OAUTH_MULTI_CUSTOM",
                    "GOOGLE_DRIVE_OAUTH",
                    "GOOGLE_DRIVE",
                    "GOOGLE_DRIVE_OAUTH_MULTI",
                    "GOOGLE_DRIVE_OAUTH_MULTI_CUSTOM",
                    "FIRECRAWL",
                    "GCS",
                    "INTERCOM",
                    "NOTION",
                    "NOTION_OAUTH_MULTI",
                    "NOTION_OAUTH_MULTI_CUSTOM",
                    "ONE_DRIVE",
                    "SHAREPOINT",
                    "WEB_CRAWLER",
                    "FILE_UPLOAD",
                    "GITHUB",
                    "FIREFLIES"
                ]
            },
            "SourceConnectorSchema": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "type": {
                        "$ref": "#/components/schemas/SourceConnectorType"
                    },
                    "config": {
                        "type": "object",
                        "additionalProperties": {
                            "nullable": true
                        }
                    }
                },
                "required": [
                    "id",
                    "type",
                    "config"
                ],
                "additionalProperties": false
            },
            "DestinationConnectorType": {
                "type": "string",
                "enum": [
                    "CAPELLA",
                    "DATASTAX",
                    "ELASTIC",
                    "PINECONE",
                    "SINGLESTORE",
                    "MILVUS",
                    "POSTGRESQL",
                    "QDRANT",
                    "SUPABASE",
                    "WEAVIATE",
                    "AZUREAISEARCH",
                    "TURBOPUFFER"
                ]
            },
            "DestinationConnectorSchema": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "type": {
                        "$ref": "#/components/schemas/DestinationConnectorType"
                    },
                    "config": {
                        "type": "object",
                        "additionalProperties": {
                            "nullable": true
                        }
                    }
                },
                "required": [
                    "id",
                    "type"
                ],
                "additionalProperties": false
            },
            "AIPlatformType": {
                "type": "string",
                "enum": [
                    "BEDROCK",
                    "VERTEX",
                    "OPENAI",
                    "VOYAGE"
                ]
            },
            "AIPlatformConfigSchema": {
                "type": "object",
                "properties": {
                    "embeddingModel": {
                        "type": "string",
                        "enum": [
                            "VECTORIZE_OPEN_AI_TEXT_EMBEDDING_2",
                            "VECTORIZE_OPEN_AI_TEXT_EMBEDDING_3_LARGE",
                            "VECTORIZE_OPEN_AI_TEXT_EMBEDDING_3_SMALL",
                            "VECTORIZE_VOYAGE_AI_2",
                            "VECTORIZE_VOYAGE_AI_3",
                            "VECTORIZE_VOYAGE_AI_3_LITE",
                            "VECTORIZE_VOYAGE_AI_3_LARGE",
                            "VECTORIZE_VOYAGE_AI_FINANCE_2",
                            "VECTORIZE_VOYAGE_AI_MULTILINGUAL_2",
                            "VECTORIZE_VOYAGE_AI_LAW_2",
                            "VECTORIZE_VOYAGE_AI_CODE_2",
                            "VECTORIZE_TITAN_TEXT_EMBEDDING_2",
                            "VECTORIZE_TITAN_TEXT_EMBEDDING_1",
                            "OPEN_AI_TEXT_EMBEDDING_2",
                            "OPEN_AI_TEXT_EMBEDDING_3_SMALL",
                            "OPEN_AI_TEXT_EMBEDDING_3_LARGE",
                            "VOYAGE_AI_2",
                            "VOYAGE_AI_3",
                            "VOYAGE_AI_3_LITE",
                            "VOYAGE_AI_3_LARGE",
                            "VOYAGE_AI_FINANCE_2",
                            "VOYAGE_AI_MULTILINGUAL_2",
                            "VOYAGE_AI_LAW_2",
                            "VOYAGE_AI_CODE_2",
                            "TITAN_TEXT_EMBEDDING_1",
                            "TITAN_TEXT_EMBEDDING_2",
                            "VERTEX_TEXT_EMBEDDING_4",
                            "VERTEX_TEXT_EMBEDDING_GECKO_3",
                            "VERTEX_GECKO_MULTILINGUAL_1",
                            "VERTEX_MULTILINGUAL_EMBEDDING_2"
                        ]
                    },
                    "chunkingStrategy": {
                        "type": "string",
                        "enum": [
                            "FIXED",
                            "SENTENCE",
                            "PARAGRAPH",
                            "MARKDOWN"
                        ]
                    },
                    "chunkSize": {
                        "type": "integer",
                        "minimum": 1
                    },
                    "chunkOverlap": {
                        "type": "integer",
                        "minimum": 0
                    },
                    "dimensions": {
                        "type": "integer",
                        "minimum": 1
                    },
                    "extractionStrategy": {
                        "type": "string",
                        "enum": [
                            "FAST",
                            "IRIS",
                            "MIXED"
                        ]
                    }
                },
                "additionalProperties": false
            },
            "AIPlatformSchema": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "type": {
                        "$ref": "#/components/schemas/AIPlatformType"
                    },
                    "config": {
                        "$ref": "#/components/schemas/AIPlatformConfigSchema"
                    }
                },
                "required": [
                    "id",
                    "type",
                    "config"
                ],
                "additionalProperties": false
            },
            "ScheduleSchemaType": {
                "type": "string",
                "enum": [
                    "manual",
                    "realtime",
                    "custom"
                ]
            },
            "ScheduleSchema": {
                "type": "object",
                "properties": {
                    "type": {
                        "$ref": "#/components/schemas/ScheduleSchemaType"
                    }
                },
                "required": [
                    "type"
                ]
            },
            "PipelineConfigurationSchema": {
                "type": "object",
                "properties": {
                    "sourceConnectors": {
                        "$ref": "#/components/schemas/PipelineSourceConnectorRequest"
                    },
                    "destinationConnector": {
                        "$ref": "#/components/schemas/PipelineDestinationConnectorRequest"
                    },
                    "aiPlatform": {
                        "$ref": "#/components/schemas/PipelineAIPlatformRequest"
                    },
                    "pipelineName": {
                        "type": "string",
                        "minLength": 1
                    },
                    "schedule": {
                        "$ref": "#/components/schemas/ScheduleSchema"
                    }
                },
                "required": [
                    "sourceConnectors",
                    "destinationConnector",
                    "aiPlatform",
                    "pipelineName",
                    "schedule"
                ],
                "additionalProperties": false
            },
            "PipelineListSummary": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "documentCount": {
                        "type": "number"
                    },
                    "sourceConnectorAuthIds": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "destinationConnectorAuthIds": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "aiPlatformAuthIds": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "sourceConnectorTypes": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "destinationConnectorTypes": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "aiPlatformTypes": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "createdAt": {
                        "type": "string",
                        "nullable": true
                    },
                    "createdBy": {
                        "type": "string"
                    },
                    "status": {
                        "type": "string"
                    },
                    "configDoc": {
                        "type": "object",
                        "additionalProperties": {
                            "nullable": true
                        }
                    }
                },
                "required": [
                    "id",
                    "name",
                    "documentCount",
                    "sourceConnectorAuthIds",
                    "destinationConnectorAuthIds",
                    "aiPlatformAuthIds",
                    "sourceConnectorTypes",
                    "destinationConnectorTypes",
                    "aiPlatformTypes",
                    "createdAt",
                    "createdBy"
                ]
            },
            "GetPipelinesResponse": {
                "type": "object",
                "properties": {
                    "message": {
                        "type": "string"
                    },
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PipelineListSummary"
                        }
                    }
                },
                "required": [
                    "message",
                    "data"
                ]
            },
            "SourceConnector": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "type": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "configDoc": {
                        "type": "object",
                        "additionalProperties": {
                            "nullable": true
                        }
                    },
                    "createdAt": {
                        "type": "string",
                        "nullable": true
                    },
                    "createdById": {
                        "type": "string"
                    },
                    "lastUpdatedById": {
                        "type": "string"
                    },
                    "createdByEmail": {
                        "type": "string"
                    },
                    "lastUpdatedByEmail": {
                        "type": "string"
                    },
                    "errorMessage": {
                        "type": "string"
                    },
                    "verificationStatus": {
                        "type": "string"
                    }
                },
                "required": [
                    "id",
                    "type",
                    "name"
                ]
            },
            "DestinationConnector": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "type": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "configDoc": {
                        "type": "object",
                        "additionalProperties": {
                            "nullable": true
                        }
                    },
                    "createdAt": {
                        "type": "string",
                        "nullable": true
                    },
                    "createdById": {
                        "type": "string"
                    },
                    "lastUpdatedById": {
                        "type": "string"
                    },
                    "createdByEmail": {
                        "type": "string"
                    },
                    "lastUpdatedByEmail": {
                        "type": "string"
                    },
                    "errorMessage": {
                        "type": "string"
                    },
                    "verificationStatus": {
                        "type": "string"
                    }
                },
                "required": [
                    "id",
                    "type",
                    "name"
                ]
            },
            "AIPlatform": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "type": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "configDoc": {
                        "type": "object",
                        "additionalProperties": {
                            "nullable": true
                        }
                    },
                    "createdAt": {
                        "type": "string",
                        "nullable": true
                    },
                    "createdById": {
                        "type": "string"
                    },
                    "lastUpdatedById": {
                        "type": "string"
                    },
                    "createdByEmail": {
                        "type": "string"
                    },
                    "lastUpdatedByEmail": {
                        "type": "string"
                    },
                    "errorMessage": {
                        "type": "string"
                    },
                    "verificationStatus": {
                        "type": "string"
                    }
                },
                "required": [
                    "id",
                    "type",
                    "name"
                ]
            },
            "PipelineSummary": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "documentCount": {
                        "type": "number"
                    },
                    "sourceConnectorAuthIds": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "destinationConnectorAuthIds": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "aiPlatformAuthIds": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "sourceConnectorTypes": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "destinationConnectorTypes": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "aiPlatformTypes": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "createdAt": {
                        "type": "string",
                        "nullable": true
                    },
                    "createdBy": {
                        "type": "string"
                    },
                    "status": {
                        "type": "string"
                    },
                    "configDoc": {
                        "type": "object",
                        "additionalProperties": {
                            "nullable": true
                        }
                    },
                    "sourceConnectors": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/SourceConnector"
                        }
                    },
                    "destinationConnectors": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/DestinationConnector"
                        }
                    },
                    "aiPlatforms": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/AIPlatform"
                        }
                    }
                },
                "required": [
                    "id",
                    "name",
                    "documentCount",
                    "sourceConnectorAuthIds",
                    "destinationConnectorAuthIds",
                    "aiPlatformAuthIds",
                    "sourceConnectorTypes",
                    "destinationConnectorTypes",
                    "aiPlatformTypes",
                    "createdAt",
                    "createdBy",
                    "sourceConnectors",
                    "destinationConnectors",
                    "aiPlatforms"
                ]
            },
            "GetPipelineResponse": {
                "type": "object",
                "properties": {
                    "message": {
                        "type": "string"
                    },
                    "data": {
                        "$ref": "#/components/schemas/PipelineSummary"
                    }
                },
                "required": [
                    "message",
                    "data"
                ]
            },
            "DeletePipelineResponse": {
                "type": "object",
                "properties": {
                    "message": {
                        "type": "string"
                    }
                },
                "required": [
                    "message"
                ]
            },
            "PipelineEvents": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "type": {
                        "type": "string"
                    },
                    "timestamp": {
                        "type": "string",
                        "nullable": true
                    },
                    "details": {
                        "type": "object",
                        "additionalProperties": {
                            "nullable": true
                        }
                    },
                    "summary": {
                        "type": "object",
                        "additionalProperties": {
                            "nullable": true
                        }
                    }
                },
                "required": [
                    "id",
                    "type",
                    "timestamp"
                ]
            },
            "GetPipelineEventsResponse": {
                "type": "object",
                "properties": {
                    "message": {
                        "type": "string"
                    },
                    "nextToken": {
                        "type": "string"
                    },
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PipelineEvents"
                        }
                    }
                },
                "required": [
                    "message",
                    "data"
                ]
            },
            "PipelineMetrics": {
                "type": "object",
                "properties": {
                    "timestamp": {
                        "type": "string",
                        "nullable": true
                    },
                    "newObjects": {
                        "type": "number"
                    },
                    "changedObjects": {
                        "type": "number"
                    },
                    "deletedObjects": {
                        "type": "number"
                    }
                },
                "required": [
                    "timestamp",
                    "newObjects",
                    "changedObjects",
                    "deletedObjects"
                ]
            },
            "GetPipelineMetricsResponse": {
                "type": "object",
                "properties": {
                    "message": {
                        "type": "string"
                    },
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PipelineMetrics"
                        }
                    }
                },
                "required": [
                    "message",
                    "data"
                ]
            },
            "Document": {
                "type": "object",
                "properties": {
                    "relevancy": {
                        "type": "number"
                    },
                    "id": {
                        "type": "string"
                    },
                    "text": {
                        "type": "string"
                    },
                    "chunk_id": {
                        "type": "string"
                    },
                    "total_chunks": {
                        "type": "string"
                    },
                    "origin": {
                        "type": "string"
                    },
                    "origin_id": {
                        "type": "string"
                    },
                    "similarity": {
                        "type": "number"
                    },
                    "source": {
                        "type": "string"
                    },
                    "unique_source": {
                        "type": "string"
                    },
                    "source_display_name": {
                        "type": "string"
                    },
                    "pipeline_id": {
                        "type": "string"
                    },
                    "org_id": {
                        "type": "string"
                    }
                },
                "required": [
                    "relevancy",
                    "id",
                    "text",
                    "chunk_id",
                    "total_chunks",
                    "origin",
                    "origin_id",
                    "similarity",
                    "source",
                    "unique_source",
                    "source_display_name"
                ],
                "additionalProperties": true
            },
            "RetrieveDocumentsResponse": {
                "type": "object",
                "properties": {
                    "question": {
                        "type": "string"
                    },
                    "documents": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Document"
                        }
                    },
                    "average_relevancy": {
                        "type": "number"
                    },
                    "ndcg": {
                        "type": "number"
                    }
                },
                "required": [
                    "question",
                    "documents",
                    "average_relevancy",
                    "ndcg"
                ]
            },
            "RetrieveContextMessage": {
                "type": "object",
                "properties": {
                    "role": {
                        "type": "string"
                    },
                    "content": {
                        "type": "string"
                    }
                },
                "required": [
                    "role",
                    "content"
                ]
            },
            "RetrieveContext": {
                "type": "object",
                "properties": {
                    "messages": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/RetrieveContextMessage"
                        }
                    }
                },
                "required": [
                    "messages"
                ]
            },
            "AdvancedQuery": {
  "type": "object",
  "properties": {
    "mode": {
      "type": "string",
      "enum": ["text", "vector", "hybrid"],
      "description": "Search mode: 'text', 'vector', or 'hybrid'. Defaults to 'vector' if not specified."
    },
    "text-fields": {
      "type": "array",
      "items": {
        "type": "string"
      },
      "description": "Fields to perform text search on."
    },
    "match-type": {
      "type": "string",
      "enum": ["match", "match_phrase", "multi_match"],
      "description": "Type of text match to perform."
    },
    "text-boost": {
      "type": "number",
      "format": "float",
      "description": "Multiplier for text search scores."
    },
    "filters": {
      "type": "object",
      "description": "Elasticsearch-compatible filter object."
    }
  },
  "description": "Advanced query parameters for enhanced search capabilities."
},
            "RetrieveDocumentsRequest": {
                "type": "object",
                "properties": {
                    "question": {
                        "type": "string"
                    },
                    "numResults": {
                        "type": "number",
                        "minimum": 1
                    },
                    "rerank": {
                        "type": "boolean",
                        "default": true
                    },
                    "metadata-filters": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "additionalProperties": {
                                "nullable": true
                            }
                        }
                    },
                    "context": {
                        "$ref": "#/components/schemas/RetrieveContext"
                    },
                "advanced-query": {
                    "$ref": "#/components/schemas/AdvancedQuery"
                }
            },
            "required": [
                "question",
                "numResults"
            ]
        },
        "StartPipelineResponse": {
            "type": "object",
            "properties": {
                "message": {
                    "type": "string"
                }
            },
            "required": [
                "message"
            ]
        },
        "StopPipelineResponse": {
            "type": "object",
            "properties": {
                "message": {
                    "type": "string"
                }
            },
            "required": [
                "message"
            ]
        },
        "StartDeepResearchResponse": {
            "type": "object",
            "properties": {
                "researchId": {
                    "type": "string"
                }
            },
            "required": [
                "researchId"
            ]
        },
        "N8NConfig": {
            "type": "object",
            "properties": {
                "account": {
                    "type": "string"
                },
                "webhookPath": {
                    "type": "string"
                },
                "headers": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                }
            },
            "required": [
                "account",
                "webhookPath"
            ]
        },
        "StartDeepResearchRequest": {
            "type": "object",
            "properties": {
                "query": {
                    "type": "string"
                },
                "webSearch": {
                    "type": "boolean",
                    "default": false
                },
                "schema": {
                    "type": "string"
                },
                "n8n": {
                    "$ref": "#/components/schemas/N8NConfig"
                }
            },
            "required": [
                "query"
            ]
        },
        "DeepResearchResult": {
            "type": "object",
            "properties": {
                "success": {
                    "type": "boolean"
                },
                "events": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "markdown": {
                    "type": "string"
                },
                "error": {
                    "type": "string"
                }
            },
            "required": [
                "success"
            ]
        },
        "GetDeepResearchResponse": {
            "type": "object",
            "properties": {
                "ready": {
                    "type": "boolean"
                },
                "data": {
                    "$ref": "#/components/schemas/DeepResearchResult"
                }
            },
            "required": [
                "ready"
            ]
        },
        "CreatedSourceConnector": {
            "type": "object",
            "properties": {
                "name": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                }
            },
            "required": [
                "name",
                "id"
            ]
        },
        "CreateSourceConnectorResponse": {
            "type": "object",
            "properties": {
                "message": {
                    "type": "string"
                },
                "connectors": {
                    "type": "array",
                    "items": {
                        "$ref": "#/components/schemas/CreatedSourceConnector"
                    }
                }
            },
            "required": [
                "message",
                "connectors"
            ]
        },
        "CreateSourceConnector": {
            "type": "object",
            "properties": {
                "name": {
                    "type": "string"
                },
                "type": {
                    "$ref": "#/components/schemas/SourceConnectorType"
                },
                "config": {
                    "type": "object",
                    "additionalProperties": {
                        "nullable": true
                    }
                }
            },
            "required": [
                "name",
                "type"
            ]
        },
        "CreateSourceConnectorRequest": {
            "type": "array",
            "minItems": 1,
            "items": {
                "oneOf": [
                    {
                        "type": "object",
                        "title": "Amazon S3",
                        "required": [
                            "name",
                            "type",
                            "config"
                        ],
                        "properties": {
                            "name": {
                                "type": "string",
                                "description": "Name of the connector"
                            },
                            "type": {
                                "type": "string",
                                "enum": [
                                    "AWS_S3"
                                ],
                                "description": "Connector type (must be \"AWS_S3\")"
                            },
                            "config": {
                                "$ref": "#/components/schemas/AWS_S3Config"
                            }
                        },
                        "example": {
                            "name": "Amazon S3 Example",
                            "type": "AWS_S3",
                            "config": {
                                "access-key": "Enter Access Key",
                                "secret-key": "Enter Secret Key",
                                "bucket-name": "Enter your S3 Bucket Name",
                                "region": "Region Name",
                                "archiver": false,
                                "file-extensions": "pdf,doc,docx,gdoc,odt,rtf,epub,ppt,pptx,gslides,xls,xlsx,gsheets,ods,eml,msg,txt,html,htm,md,json,csv,jpg,jpeg,png,webp,svg,gif",
                                "idle-time": 5,
                                "path-prefix": "example-path-prefix"
                            }
                        }
                    },
                    {
                        "type": "object",
                        "title": "Azure Blob Storage",
                        "required": [
                            "name",
                            "type",
                            "config"
                        ],
                        "properties": {
                            "name": {
                                "type": "string",
                                "description": "Name of the connector"
                            },
                            "type": {
                                "type": "string",
                                "enum": [
                                    "AZURE_BLOB"
                                ],
                                "description": "Connector type (must be \"AZURE_BLOB\")"
                            },
                            "config": {
                                "$ref": "#/components/schemas/AZURE_BLOBConfig"
                            }
                        },
                        "example": {
                            "name": "Azure Blob Storage Example",
                            "type": "AZURE_BLOB",
                            "config": {
                                "storage-account-name": "Enter Storage Account Name",
                                "storage-account-key": "Enter Storage Account Key",
                                "container": "Enter Container Name",
                                "file-extensions": "pdf,doc,docx,gdoc,odt,rtf,epub,ppt,pptx,gslides,xls,xlsx,gsheets,ods,eml,msg,txt,html,htm,md,json,csv,jpg,jpeg,png,webp,svg,gif",
                                "idle-time": 5,
                                "path-prefix": "example-path-prefix"
                            }
                        }
                    },
                    {
                        "type": "object",
                        "title": "Confluence",
                        "required": [
                            "name",
                            "type",
                            "config"
                        ],
                        "properties": {
                            "name": {
                                "type": "string",
                                "description": "Name of the connector"
                            },
                            "type": {
                                "type": "string",
                                "enum": [
                                    "CONFLUENCE"
                                ],
                                "description": "Connector type (must be \"CONFLUENCE\")"
                            },
                            "config": {
                                "$ref": "#/components/schemas/CONFLUENCEConfig"
                            }
                        },
                        "example": {
                            "name": "Confluence Example",
                            "type": "CONFLUENCE",
                            "config": {
                                "username": "Enter your Confluence username",
                                "api-token": "Enter your Confluence API token",
                                "domain": "Enter your Confluence domain (e.g. my-domain.atlassian.net or confluence.<my-company>.com)",
                                "spaces": "Spaces to include (name, key or id)"
                            }
                        }
                    },
                    {
                        "type": "object",
                        "title": "Discord",
                        "required": [
                            "name",
                            "type",
                            "config"
                        ],
                        "properties": {
                            "name": {
                                "type": "string",
                                "description": "Name of the connector"
                            },
                            "type": {
                                "type": "string",
                                "enum": [
                                    "DISCORD"
                                ],
                                "description": "Connector type (must be \"DISCORD\")"
                            },
                            "config": {
                                "$ref": "#/components/schemas/DISCORDConfig"
                            }
                        },
                        "example": {
                            "name": "Discord Example",
                            "type": "DISCORD",
                            "config": {
                                "server-id": "Enter Server ID",
                                "bot-token": "Enter Token",
                                "channel-ids": "Enter channel ID",
                                "limit": 10000,
                                "thread-message-inclusion": "ALL",
                                "filter-logic": "AND",
                                "thread-message-mode": "CONCATENATE"
                            }
                        }
                    },
                    {
                        "type": "object",
                        "title": "Dropbox",
                        "required": [
                            "name",
                            "type",
                            "config"
                        ],
                        "properties": {
                            "name": {
                                "type": "string",
                                "description": "Name of the connector"
                            },
                            "type": {
                                "type": "string",
                                "enum": [
                                    "DROPBOX"
                                ],
                                "description": "Connector type (must be \"DROPBOX\")"
                            },
                            "config": {
                                "$ref": "#/components/schemas/DROPBOXConfig"
                            }
                        },
                        "example": {
                            "name": "Dropbox (Legacy) Example",
                            "type": "DROPBOX",
                            "config": {
                                "path-prefix": "Enter Path: /exampleFolder/subFolder"
                            }
                        }
                    },
                    {
                        "type": "object",
                        "title": "Dropbox Oauth",
                        "required": [
                            "name",
                            "type",
                            "config"
                        ],
                        "properties": {
                            "name": {
                                "type": "string",
                                "description": "Name of the connector"
                            },
                            "type": {
                                "type": "string",
                                "enum": [
                                    "DROPBOX_OAUTH"
                                ],
                                "description": "Connector type (must be \"DROPBOX_OAUTH\")"
                            },
                            "config": {
                                "$ref": "#/components/schemas/DROPBOX_OAUTHAuthConfig"
                            }
                        },
                        "example": {
                            "name": "Dropbox OAuth Example",
                            "type": "DROPBOX_OAUTH",
                            "config": {}
                        }
                    },
                    {
                        "type": "object",
                        "title": "Dropbox Oauth Multi",
                        "required": [
                            "name",
                            "type",
                            "config"
                        ],
                        "properties": {
                            "name": {
                                "type": "string",
                                "description": "Name of the connector"
                            },
                            "type": {
                                "type": "string",
                                "enum": [
                                    "DROPBOX_OAUTH_MULTI"
                                ],
                                "description": "Connector type (must be \"DROPBOX_OAUTH_MULTI\")"
                            },
                            "config": {
                                "$ref": "#/components/schemas/DROPBOX_OAUTH_MULTIAuthConfig"
                            }
                        },
                        "example": {
                            "name": "Dropbox Multi-User (Vectorize) Example",
                            "type": "DROPBOX_OAUTH_MULTI",
                            "config": {}
                        }
                    },
                    {
                        "type": "object",
                        "title": "Dropbox Oauth Multi Custom",
                        "required": [
                            "name",
                            "type",
                            "config"
                        ],
                        "properties": {
                            "name": {
                                "type": "string",
                                "description": "Name of the connector"
                            },
                            "type": {
                                "type": "string",
                                "enum": [
                                    "DROPBOX_OAUTH_MULTI_CUSTOM"
                                ],
                                "description": "Connector type (must be \"DROPBOX_OAUTH_MULTI_CUSTOM\")"
                            },
                            "config": {
                                "$ref": "#/components/schemas/DROPBOX_OAUTH_MULTI_CUSTOMAuthConfig"
                            }
                        },
                        "example": {
                            "name": "Dropbox Multi-User (White Label) Example",
                            "type": "DROPBOX_OAUTH_MULTI_CUSTOM",
                            "config": {
                                "app-key": "Enter App Key",
                                "app-secret": "Enter App Secret"
                            }
                        }
                    },
                    {
                        "type": "object",
                        "title": "Google Drive OAuth",
                        "required": [
                            "name",
                            "type",
                            "config"
                        ],
                        "properties": {
                            "name": {
                                "type": "string",
                                "description": "Name of the connector"
                            },
                            "type": {
                                "type": "string",
                                "enum": [
                                    "GOOGLE_DRIVE_OAUTH"
                                ],
                                "description": "Connector type (must be \"GOOGLE_DRIVE_OAUTH\")"
                            },
                            "config": {
                                "$ref": "#/components/schemas/GOOGLE_DRIVE_OAUTHConfig"
                            }
                        },
                        "example": {
                            "name": "Google Drive OAuth Example",
                            "type": "GOOGLE_DRIVE_OAUTH",
                            "config": {
                                "file-extensions": "pdf,doc,docx,gdoc,odt,rtf,epub,ppt,pptx,gslides,xls,xlsx,gsheets,ods,eml,msg,txt,html,htm,md,json,csv,jpg,jpeg,png,webp,svg,gif",
                                "idle-time": 5
                            }
                        }
                    },
                    {
                        "type": "object",
                        "title": "Google Drive",
                        "required": [
                            "name",
                            "type",
                            "config"
                        ],
                        "properties": {
                            "name": {
                                "type": "string",
                                "description": "Name of the connector"
                            },
                            "type": {
                                "type": "string",
                                "enum": [
                                    "GOOGLE_DRIVE"
                                ],
                                "description": "Connector type (must be \"GOOGLE_DRIVE\")"
                            },
                            "config": {
                                "$ref": "#/components/schemas/GOOGLE_DRIVEConfig"
                            }
                        },
                        "example": {
                            "name": "Google Drive (Service Account) Example",
                            "type": "GOOGLE_DRIVE",
                            "config": {
                                "service-account-json": "Enter the JSON key file for the service account",
                                "file-extensions": "pdf,doc,docx,gdoc,odt,rtf,epub,ppt,pptx,gslides,xls,xlsx,gsheets,ods,eml,msg,txt,html,htm,md,json,csv,jpg,jpeg,png,webp,svg,gif",
                                "idle-time": 5
                            }
                        }
                    },
                    {
                        "type": "object",
                        "title": "Google Drive Oauth Multi",
                        "required": [
                            "name",
                            "type",
                            "config"
                        ],
                        "properties": {
                            "name": {
                                "type": "string",
                                "description": "Name of the connector"
                            },
                            "type": {
                                "type": "string",
                                "enum": [
                                    "GOOGLE_DRIVE_OAUTH_MULTI"
                                ],
                                "description": "Connector type (must be \"GOOGLE_DRIVE_OAUTH_MULTI\")"
                            },
                            "config": {
                                "$ref": "#/components/schemas/GOOGLE_DRIVE_OAUTH_MULTIConfig"
                            }
                        },
                        "example": {
                            "name": "Google Drive Multi-User (Vectorize) Example",
                            "type": "GOOGLE_DRIVE_OAUTH_MULTI",
                            "config": {
                                "file-extensions": "pdf,doc,docx,gdoc,odt,rtf,epub,ppt,pptx,gslides,xls,xlsx,gsheets,ods,eml,msg,txt,html,htm,md,json,csv,jpg,jpeg,png,webp,svg,gif",
                                "idle-time": 5
                            }
                        }
                    },
                    {
                        "type": "object",
                        "title": "Google Drive Oauth Multi Custom",
                        "required": [
                            "name",
                            "type",
                            "config"
                        ],
                        "properties": {
                            "name": {
                                "type": "string",
                                "description": "Name of the connector"
                            },
                            "type": {
                                "type": "string",
                                "enum": [
                                    "GOOGLE_DRIVE_OAUTH_MULTI_CUSTOM"
                                ],
                                "description": "Connector type (must be \"GOOGLE_DRIVE_OAUTH_MULTI_CUSTOM\")"
                            },
                            "config": {
                                "$ref": "#/components/schemas/GOOGLE_DRIVE_OAUTH_MULTI_CUSTOMConfig"
                            }
                        },
                        "example": {
                            "name": "Google Drive Multi-User (White Label) Example",
                            "type": "GOOGLE_DRIVE_OAUTH_MULTI_CUSTOM",
                            "config": {
                                "oauth2-client-id": "Enter Client Id",
                                "oauth2-client-secret": "Enter Client Secret",
                                "file-extensions": "pdf,doc,docx,gdoc,odt,rtf,epub,ppt,pptx,gslides,xls,xlsx,gsheets,ods,eml,msg,txt,html,htm,md,json,csv,jpg,jpeg,png,webp,svg,gif",
                                "idle-time": 5
                            }
                        }
                    },
                    {
                        "type": "object",
                        "title": "Firecrawl",
                        "required": [
                            "name",
                            "type",
                            "config"
                        ],
                        "properties": {
                            "name": {
                                "type": "string",
                                "description": "Name of the connector"
                            },
                            "type": {
                                "type": "string",
                                "enum": [
                                    "FIRECRAWL"
                                ],
                                "description": "Connector type (must be \"FIRECRAWL\")"
                            },
                            "config": {
                                "$ref": "#/components/schemas/FIRECRAWLConfig"
                            }
                        },
                        "example": {
                            "name": "Firecrawl Example",
                            "type": "FIRECRAWL",
                            "config": {
                                "api-key": "Enter your Firecrawl API Key",
                                "endpoint": "Crawl",
                                "request": "{ \n  \"url\": \"https://docs.vectorize.io/\",\n  \"maxDepth\": 25,\n  \"limit\": 100\n    }"
                            }
                        }
                    },
                    {
                        "type": "object",
                        "title": "Google Cloud Storage",
                        "required": [
                            "name",
                            "type",
                            "config"
                        ],
                        "properties": {
                            "name": {
                                "type": "string",
                                "description": "Name of the connector"
                            },
                            "type": {
                                "type": "string",
                                "enum": [
                                    "GCS"
                                ],
                                "description": "Connector type (must be \"GCS\")"
                            },
                            "config": {
                                "$ref": "#/components/schemas/GCSConfig"
                            }
                        },
                        "example": {
                            "name": "GCP Cloud Storage Example",
                            "type": "GCS",
                            "config": {
                                "service-account-json": "Enter the JSON key file for the service account",
                                "bucket-name": "Enter bucket name",
                                "file-extensions": "pdf,doc,docx,gdoc,odt,rtf,epub,ppt,pptx,gslides,xls,xlsx,gsheets,ods,eml,msg,txt,html,htm,md,json,csv,jpg,jpeg,png,webp,svg,gif",
                                "idle-time": 5,
                                "path-prefix": "example-path-prefix"
                            }
                        }
                    },
                    {
                        "type": "object",
                        "title": "Intercom",
                        "required": [
                            "name",
                            "type",
                            "config"
                        ],
                        "properties": {
                            "name": {
                                "type": "string",
                                "description": "Name of the connector"
                            },
                            "type": {
                                "type": "string",
                                "enum": [
                                    "INTERCOM"
                                ],
                                "description": "Connector type (must be \"INTERCOM\")"
                            },
                            "config": {
                                "$ref": "#/components/schemas/INTERCOMConfig"
                            }
                        },
                        "example": {
                            "name": "Intercom Example",
                            "type": "INTERCOM",
                            "config": {
                                "created_at": "2025-06-12",
                                "state": "all"
                            }
                        }
                    },
                    {
                        "type": "object",
                        "title": "Notion",
                        "required": [
                            "name",
                            "type",
                            "config"
                        ],
                        "properties": {
                            "name": {
                                "type": "string",
                                "description": "Name of the connector"
                            },
                            "type": {
                                "type": "string",
                                "enum": [
                                    "NOTION"
                                ],
                                "description": "Connector type (must be \"NOTION\")"
                            },
                            "config": {
                                "$ref": "#/components/schemas/NOTIONConfig"
                            }
                        },
                        "example": {
                            "name": "Notion Example",
                            "type": "NOTION",
                            "config": {
                                "select-resources": "example-select-resources"
                            }
                        }
                    },
                    {
                        "type": "object",
                        "title": "Notion Oauth Multi",
                        "required": [
                            "name",
                            "type",
                            "config"
                        ],
                        "properties": {
                            "name": {
                                "type": "string",
                                "description": "Name of the connector"
                            },
                            "type": {
                                "type": "string",
                                "enum": [
                                    "NOTION_OAUTH_MULTI"
                                ],
                                "description": "Connector type (must be \"NOTION_OAUTH_MULTI\")"
                            },
                            "config": {
                                "$ref": "#/components/schemas/NOTION_OAUTH_MULTIAuthConfig"
                            }
                        },
                        "example": {
                            "name": "Notion Multi-User (Vectorize) Example",
                            "type": "NOTION_OAUTH_MULTI",
                            "config": {}
                        }
                    },
                    {
                        "type": "object",
                        "title": "Notion Oauth Multi Custom",
                        "required": [
                            "name",
                            "type",
                            "config"
                        ],
                        "properties": {
                            "name": {
                                "type": "string",
                                "description": "Name of the connector"
                            },
                            "type": {
                                "type": "string",
                                "enum": [
                                    "NOTION_OAUTH_MULTI_CUSTOM"
                                ],
                                "description": "Connector type (must be \"NOTION_OAUTH_MULTI_CUSTOM\")"
                            },
                            "config": {
                                "$ref": "#/components/schemas/NOTION_OAUTH_MULTI_CUSTOMAuthConfig"
                            }
                        },
                        "example": {
                            "name": "Notion Multi-User (White Label) Example",
                            "type": "NOTION_OAUTH_MULTI_CUSTOM",
                            "config": {
                                "client-id": "Enter Client ID",
                                "client-secret": "Enter Client Secret"
                            }
                        }
                    },
                    {
                        "type": "object",
                        "title": "OneDrive",
                        "required": [
                            "name",
                            "type",
                            "config"
                        ],
                        "properties": {
                            "name": {
                                "type": "string",
                                "description": "Name of the connector"
                            },
                            "type": {
                                "type": "string",
                                "enum": [
                                    "ONE_DRIVE"
                                ],
                                "description": "Connector type (must be \"ONE_DRIVE\")"
                            },
                            "config": {
                                "$ref": "#/components/schemas/ONE_DRIVEConfig"
                            }
                        },
                        "example": {
                            "name": "OneDrive Example",
                            "type": "ONE_DRIVE",
                            "config": {
                                "ms-client-id": "Enter Client Id",
                                "ms-tenant-id": "Enter Tenant Id",
                                "ms-client-secret": "Enter Client Secret",
                                "users": "Enter users emails to import files from. Example: developer@vectorize.io",
                                "file-extensions": "pdf,doc,docx,gdoc,odt,rtf,epub,ppt,pptx,gslides,xls,xlsx,gsheets,ods,eml,msg,txt,html,htm,md,json,csv,jpg,jpeg,png,webp,svg,gif",
                                "path-prefix": "Enter Folder path: /exampleFolder/subFolder"
                            }
                        }
                    },
                    {
                        "type": "object",
                        "title": "Sharepoint",
                        "required": [
                            "name",
                            "type",
                            "config"
                        ],
                        "properties": {
                            "name": {
                                "type": "string",
                                "description": "Name of the connector"
                            },
                            "type": {
                                "type": "string",
                                "enum": [
                                    "SHAREPOINT"
                                ],
                                "description": "Connector type (must be \"SHAREPOINT\")"
                            },
                            "config": {
                                "$ref": "#/components/schemas/SHAREPOINTConfig"
                            }
                        },
                        "example": {
                            "name": "SharePoint Example",
                            "type": "SHAREPOINT",
                            "config": {
                                "ms-client-id": "Enter Client Id",
                                "ms-tenant-id": "Enter Tenant Id",
                                "ms-client-secret": "Enter Client Secret",
                                "file-extensions": "pdf,doc,docx,gdoc,odt,rtf,epub,ppt,pptx,gslides,xls,xlsx,gsheets,ods,eml,msg,txt,html,htm,json,csv,jpg,jpeg,png,webp,svg,gif"
                            }
                        }
                    },
                    {
                        "type": "object",
                        "title": "Web Crawler",
                        "required": [
                            "name",
                            "type",
                            "config"
                        ],
                        "properties": {
                            "name": {
                                "type": "string",
                                "description": "Name of the connector"
                            },
                            "type": {
                                "type": "string",
                                "enum": [
                                    "WEB_CRAWLER"
                                ],
                                "description": "Connector type (must be \"WEB_CRAWLER\")"
                            },
                            "config": {
                                "$ref": "#/components/schemas/WEB_CRAWLERConfig"
                            }
                        },
                        "example": {
                            "name": "Web Crawler Example",
                            "type": "WEB_CRAWLER",
                            "config": {
                                "seed-urls": "(e.g. https://example.com)",
                                "min-time-between-requests": 500,
                                "max-error-count": 5,
                                "max-urls": 1000,
                                "max-depth": 50,
                                "reindex-interval-seconds": 3600
                            }
                        }
                    },
                    {
                        "type": "object",
                        "title": "File Upload",
                        "required": [
                            "name",
                            "type",
                            "config"
                        ],
                        "properties": {
                            "name": {
                                "type": "string",
                                "description": "Name of the connector"
                            },
                            "type": {
                                "type": "string",
                                "enum": [
                                    "FILE_UPLOAD"
                                ],
                                "description": "Connector type (must be \"FILE_UPLOAD\")"
                            },
                            "config": {
                                "$ref": "#/components/schemas/FILE_UPLOADAuthConfig"
                            }
                        },
                        "example": {
                            "name": "File Upload Example",
                            "type": "FILE_UPLOAD",
                            "config": {}
                        }
                    },
                    {
                        "type": "object",
                        "title": "Github",
                        "required": [
                            "name",
                            "type",
                            "config"
                        ],
                        "properties": {
                            "name": {
                                "type": "string",
                                "description": "Name of the connector"
                            },
                            "type": {
                                "type": "string",
                                "enum": [
                                    "GITHUB"
                                ],
                                "description": "Connector type (must be \"GITHUB\")"
                            },
                            "config": {
                                "$ref": "#/components/schemas/GITHUBConfig"
                            }
                        },
                        "example": {
                            "name": "GitHub Example",
                            "type": "GITHUB",
                            "config": {
                                "oauth-token": "Enter your GitHub personal access token",
                                "repositories": "Example: owner1/repo1",
                                "include-pull-requests": true,
                                "pull-request-status": "all",
                                "include-issues": true,
                                "issue-status": "all",
                                "max-items": 1000
                            }
                        }
                    },
                    {
                        "type": "object",
                        "title": "Fireflies",
                        "required": [
                            "name",
                            "type",
                            "config"
                        ],
                        "properties": {
                            "name": {
                                "type": "string",
                                "description": "Name of the connector"
                            },
                            "type": {
                                "type": "string",
                                "enum": [
                                    "FIREFLIES"
                                ],
                                "description": "Connector type (must be \"FIREFLIES\")"
                            },
                            "config": {
                                "$ref": "#/components/schemas/FIREFLIESConfig"
                            }
                        },
                        "example": {
                            "name": "Fireflies.ai Example",
                            "type": "FIREFLIES",
                            "config": {
                                "api-key": "Enter your Fireflies.ai API key",
                                "start-date": "2025-06-12",
                                "max-meetings": -1
                            }
                        }
                    }
                ]
            }
        },
        "UpdateSourceConnectorResponseData": {
            "type": "object",
            "properties": {
                "updatedConnector": {
                    "$ref": "#/components/schemas/SourceConnector"
                },
                "pipelineIds": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                }
            },
            "required": [
                "updatedConnector"
            ]
        },
        "UpdateSourceConnectorResponse": {
            "type": "object",
            "properties": {
                "message": {
                    "type": "string"
                },
                "data": {
                    "$ref": "#/components/schemas/UpdateSourceConnectorResponseData"
                }
            },
            "required": [
                "message",
                "data"
            ]
        },
        "UpdateSourceConnectorRequest": {
            "oneOf": [
                {
                    "type": "object",
                    "title": "Amazon S3",
                    "properties": {
                        "config": {
                            "$ref": "#/components/schemas/AWS_S3Config"
                        }
                    },
                    "example": {
                        "config": {
                            "access-key": "Enter Access Key",
                            "secret-key": "Enter Secret Key",
                            "bucket-name": "Enter your S3 Bucket Name",
                            "region": "Region Name",
                            "archiver": false,
                            "file-extensions": "pdf,doc,docx,gdoc,odt,rtf,epub,ppt,pptx,gslides,xls,xlsx,gsheets,ods,eml,msg,txt,html,htm,md,json,csv,jpg,jpeg,png,webp,svg,gif",
                            "idle-time": 5,
                            "path-prefix": "example-path-prefix"
                        }
                    }
                },
                {
                    "type": "object",
                    "title": "Azure Blob Storage",
                    "properties": {
                        "config": {
                            "$ref": "#/components/schemas/AZURE_BLOBConfig"
                        }
                    },
                    "example": {
                        "config": {
                            "storage-account-name": "Enter Storage Account Name",
                            "storage-account-key": "Enter Storage Account Key",
                            "container": "Enter Container Name",
                            "file-extensions": "pdf,doc,docx,gdoc,odt,rtf,epub,ppt,pptx,gslides,xls,xlsx,gsheets,ods,eml,msg,txt,html,htm,md,json,csv,jpg,jpeg,png,webp,svg,gif",
                            "idle-time": 5,
                            "path-prefix": "example-path-prefix"
                        }
                    }
                },
                {
                    "type": "object",
                    "title": "Confluence",
                    "properties": {
                        "config": {
                            "$ref": "#/components/schemas/CONFLUENCEConfig"
                        }
                    },
                    "example": {
                        "config": {
                            "username": "Enter your Confluence username",
                            "api-token": "Enter your Confluence API token",
                            "domain": "Enter your Confluence domain (e.g. my-domain.atlassian.net or confluence.<my-company>.com)",
                            "spaces": "Spaces to include (name, key or id)"
                        }
                    }
                },
                {
                    "type": "object",
                    "title": "Discord",
                    "properties": {
                        "config": {
                            "$ref": "#/components/schemas/DISCORDConfig"
                        }
                    },
                    "example": {
                        "config": {
                            "server-id": "Enter Server ID",
                            "bot-token": "Enter Token",
                            "channel-ids": "Enter channel ID",
                            "limit": 10000,
                            "thread-message-inclusion": "ALL",
                            "filter-logic": "AND",
                            "thread-message-mode": "CONCATENATE"
                        }
                    }
                },
                {
                    "type": "object",
                    "title": "Dropbox",
                    "properties": {
                        "config": {
                            "$ref": "#/components/schemas/DROPBOXConfig"
                        }
                    },
                    "example": {
                        "config": {
                            "path-prefix": "Enter Path: /exampleFolder/subFolder"
                        }
                    }
                },
                {
                    "type": "object",
                    "title": "Dropbox Oauth",
                    "properties": {
                        "config": {
                            "$ref": "#/components/schemas/DROPBOX_OAUTHAuthConfig"
                        }
                    },
                    "example": {
                        "config": {}
                    }
                },
                {
                    "type": "object",
                    "title": "Dropbox Oauth Multi",
                    "properties": {
                        "config": {
                            "$ref": "#/components/schemas/DROPBOX_OAUTH_MULTIAuthConfig"
                        }
                    },
                    "example": {
                        "config": {}
                    }
                },
                {
                    "type": "object",
                    "title": "Dropbox Oauth Multi Custom",
                    "properties": {
                        "config": {
                            "$ref": "#/components/schemas/DROPBOX_OAUTH_MULTI_CUSTOMAuthConfig"
                        }
                    },
                    "example": {
                        "config": {
                            "app-key": "Enter App Key",
                            "app-secret": "Enter App Secret"
                        }
                    }
                },
                {
                    "type": "object",
                    "title": "Google Drive OAuth",
                    "properties": {
                        "config": {
                            "$ref": "#/components/schemas/GOOGLE_DRIVE_OAUTHConfig"
                        }
                    },
                    "example": {
                        "config": {
                            "file-extensions": "pdf,doc,docx,gdoc,odt,rtf,epub,ppt,pptx,gslides,xls,xlsx,gsheets,ods,eml,msg,txt,html,htm,md,json,csv,jpg,jpeg,png,webp,svg,gif",
                            "idle-time": 5
                        }
                    }
                },
                {
                    "type": "object",
                    "title": "Google Drive",
                    "properties": {
                        "config": {
                            "$ref": "#/components/schemas/GOOGLE_DRIVEConfig"
                        }
                    },
                    "example": {
                        "config": {
                            "service-account-json": "Enter the JSON key file for the service account",
                            "file-extensions": "pdf,doc,docx,gdoc,odt,rtf,epub,ppt,pptx,gslides,xls,xlsx,gsheets,ods,eml,msg,txt,html,htm,md,json,csv,jpg,jpeg,png,webp,svg,gif",
                            "idle-time": 5
                        }
                    }
                },
                {
                    "type": "object",
                    "title": "Google Drive Oauth Multi",
                    "properties": {
                        "config": {
                            "$ref": "#/components/schemas/GOOGLE_DRIVE_OAUTH_MULTIConfig"
                        }
                    },
                    "example": {
                        "config": {
                            "file-extensions": "pdf,doc,docx,gdoc,odt,rtf,epub,ppt,pptx,gslides,xls,xlsx,gsheets,ods,eml,msg,txt,html,htm,md,json,csv,jpg,jpeg,png,webp,svg,gif",
                            "idle-time": 5
                        }
                    }
                },
                {
                    "type": "object",
                    "title": "Google Drive Oauth Multi Custom",
                    "properties": {
                        "config": {
                            "$ref": "#/components/schemas/GOOGLE_DRIVE_OAUTH_MULTI_CUSTOMConfig"
                        }
                    },
                    "example": {
                        "config": {
                            "oauth2-client-id": "Enter Client Id",
                            "oauth2-client-secret": "Enter Client Secret",
                            "file-extensions": "pdf,doc,docx,gdoc,odt,rtf,epub,ppt,pptx,gslides,xls,xlsx,gsheets,ods,eml,msg,txt,html,htm,md,json,csv,jpg,jpeg,png,webp,svg,gif",
                            "idle-time": 5
                        }
                    }
                },
                {
                    "type": "object",
                    "title": "Firecrawl",
                    "properties": {
                        "config": {
                            "$ref": "#/components/schemas/FIRECRAWLConfig"
                        }
                    },
                    "example": {
                        "config": {
                            "api-key": "Enter your Firecrawl API Key",
                            "endpoint": "Crawl",
                            "request": "{ \n  \"url\": \"https://docs.vectorize.io/\",\n  \"maxDepth\": 25,\n  \"limit\": 100\n    }"
                        }
                    }
                },
                {
                    "type": "object",
                    "title": "Google Cloud Storage",
                    "properties": {
                        "config": {
                            "$ref": "#/components/schemas/GCSConfig"
                        }
                    },
                    "example": {
                        "config": {
                            "service-account-json": "Enter the JSON key file for the service account",
                            "bucket-name": "Enter bucket name",
                            "file-extensions": "pdf,doc,docx,gdoc,odt,rtf,epub,ppt,pptx,gslides,xls,xlsx,gsheets,ods,eml,msg,txt,html,htm,md,json,csv,jpg,jpeg,png,webp,svg,gif",
                            "idle-time": 5,
                            "path-prefix": "example-path-prefix"
                        }
                    }
                },
                {
                    "type": "object",
                    "title": "Intercom",
                    "properties": {
                        "config": {
                            "$ref": "#/components/schemas/INTERCOMConfig"
                        }
                    },
                    "example": {
                        "config": {
                            "created_at": "2025-06-12",
                            "state": "all"
                        }
                    }
                },
                {
                    "type": "object",
                    "title": "Notion",
                    "properties": {
                        "config": {
                            "$ref": "#/components/schemas/NOTIONConfig"
                        }
                    },
                    "example": {
                        "config": {
                            "select-resources": "example-select-resources"
                        }
                    }
                },
                {
                    "type": "object",
                    "title": "Notion Oauth Multi",
                    "properties": {
                        "config": {
                            "$ref": "#/components/schemas/NOTION_OAUTH_MULTIAuthConfig"
                        }
                    },
                    "example": {
                        "config": {}
                    }
                },
                {
                    "type": "object",
                    "title": "Notion Oauth Multi Custom",
                    "properties": {
                        "config": {
                            "$ref": "#/components/schemas/NOTION_OAUTH_MULTI_CUSTOMAuthConfig"
                        }
                    },
                    "example": {
                        "config": {
                            "client-id": "Enter Client ID",
                            "client-secret": "Enter Client Secret"
                        }
                    }
                },
                {
                    "type": "object",
                    "title": "OneDrive",
                    "properties": {
                        "config": {
                            "$ref": "#/components/schemas/ONE_DRIVEConfig"
                        }
                    },
                    "example": {
                        "config": {
                            "ms-client-id": "Enter Client Id",
                            "ms-tenant-id": "Enter Tenant Id",
                            "ms-client-secret": "Enter Client Secret",
                            "users": "Enter users emails to import files from. Example: developer@vectorize.io",
                            "file-extensions": "pdf,doc,docx,gdoc,odt,rtf,epub,ppt,pptx,gslides,xls,xlsx,gsheets,ods,eml,msg,txt,html,htm,md,json,csv,jpg,jpeg,png,webp,svg,gif",
                            "path-prefix": "Enter Folder path: /exampleFolder/subFolder"
                        }
                    }
                },
                {
                    "type": "object",
                    "title": "Sharepoint",
                    "properties": {
                        "config": {
                            "$ref": "#/components/schemas/SHAREPOINTConfig"
                        }
                    },
                    "example": {
                        "config": {
                            "ms-client-id": "Enter Client Id",
                            "ms-tenant-id": "Enter Tenant Id",
                            "ms-client-secret": "Enter Client Secret",
                            "file-extensions": "pdf,doc,docx,gdoc,odt,rtf,epub,ppt,pptx,gslides,xls,xlsx,gsheets,ods,eml,msg,txt,html,htm,json,csv,jpg,jpeg,png,webp,svg,gif"
                        }
                    }
                },
                {
                    "type": "object",
                    "title": "Web Crawler",
                    "properties": {
                        "config": {
                            "$ref": "#/components/schemas/WEB_CRAWLERConfig"
                        }
                    },
                    "example": {
                        "config": {
                            "seed-urls": "(e.g. https://example.com)",
                            "min-time-between-requests": 500,
                            "max-error-count": 5,
                            "max-urls": 1000,
                            "max-depth": 50,
                            "reindex-interval-seconds": 3600
                        }
                    }
                },
                {
                    "type": "object",
                    "title": "File Upload",
                    "properties": {
                        "config": {
                            "$ref": "#/components/schemas/FILE_UPLOADAuthConfig"
                        }
                    },
                    "example": {
                        "config": {}
                    }
                },
                {
                    "type": "object",
                    "title": "Github",
                    "properties": {
                        "config": {
                            "$ref": "#/components/schemas/GITHUBConfig"
                        }
                    },
                    "example": {
                        "config": {
                            "oauth-token": "Enter your GitHub personal access token",
                            "repositories": "Example: owner1/repo1",
                            "include-pull-requests": true,
                            "pull-request-status": "all",
                            "include-issues": true,
                            "issue-status": "all",
                            "max-items": 1000
                        }
                    }
                },
                {
                    "type": "object",
                    "title": "Fireflies",
                    "properties": {
                        "config": {
                            "$ref": "#/components/schemas/FIREFLIESConfig"
                        }
                    },
                    "example": {
                        "config": {
                            "api-key": "Enter your Fireflies.ai API key",
                            "start-date": "2025-06-12",
                            "max-meetings": -1
                        }
                    }
                }
            ]
        },
        "DeleteSourceConnectorResponse": {
            "type": "object",
            "properties": {
                "message": {
                    "type": "string"
                }
            },
            "required": [
                "message"
            ]
        },
        "CreatedDestinationConnector": {
            "type": "object",
            "properties": {
                "name": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                }
            },
            "required": [
                "name",
                "id"
            ]
        },
        "CreateDestinationConnectorResponse": {
            "type": "object",
            "properties": {
                "message": {
                    "type": "string"
                },
                "connectors": {
                    "type": "array",
                    "items": {
                        "$ref": "#/components/schemas/CreatedDestinationConnector"
                    }
                }
            },
            "required": [
                "message",
                "connectors"
            ]
        },
        "CreateDestinationConnector": {
            "type": "object",
            "properties": {
                "name": {
                    "type": "string"
                },
                "type": {
                    "$ref": "#/components/schemas/DestinationConnectorType"
                },
                "config": {
                    "type": "object",
                    "additionalProperties": {
                        "nullable": true
                    }
                }
            },
            "required": [
                "name",
                "type"
            ]
        },
        "CreateDestinationConnectorRequest": {
            "type": "array",
            "minItems": 1,
            "items": {
                "oneOf": [
                    {
                        "type": "object",
                        "title": "Capella",
                        "required": [
                            "name",
                            "type",
                            "config"
                        ],
                        "properties": {
                            "name": {
                                "type": "string",
                                "description": "Name of the connector"
                            },
                            "type": {
                                "type": "string",
                                "enum": [
                                    "CAPELLA"
                                ],
                                "description": "Connector type (must be \"CAPELLA\")"
                            },
                            "config": {
                                "$ref": "#/components/schemas/CAPELLAConfig"
                            }
                        },
                        "example": {
                            "name": "Couchbase Capella Example",
                            "type": "CAPELLA",
                            "config": {
                                "username": "Enter your cluster access name",
                                "password": "Enter your cluster access password",
                                "connection-string": "Enter your connection string",
                                "bucket": "Enter bucket name",
                                "scope": "Enter scope name",
                                "collection": "Enter collection name",
                                "index": "Enter search index name"
                            }
                        }
                    },
                    {
                        "type": "object",
                        "title": "Datastax",
                        "required": [
                            "name",
                            "type",
                            "config"
                        ],
                        "properties": {
                            "name": {
                                "type": "string",
                                "description": "Name of the connector"
                            },
                            "type": {
                                "type": "string",
                                "enum": [
                                    "DATASTAX"
                                ],
                                "description": "Connector type (must be \"DATASTAX\")"
                            },
                            "config": {
                                "$ref": "#/components/schemas/DATASTAXConfig"
                            }
                        },
                        "example": {
                            "name": "DataStax Astra Example",
                            "type": "DATASTAX",
                            "config": {
                                "endpoint_secret": "Enter your API endpoint",
                                "token": "Enter your application token",
                                "collection": "Enter collection name"
                            }
                        }
                    },
                    {
                        "type": "object",
                        "title": "Elastic",
                        "required": [
                            "name",
                            "type",
                            "config"
                        ],
                        "properties": {
                            "name": {
                                "type": "string",
                                "description": "Name of the connector"
                            },
                            "type": {
                                "type": "string",
                                "enum": [
                                    "ELASTIC"
                                ],
                                "description": "Connector type (must be \"ELASTIC\")"
                            },
                            "config": {
                                "$ref": "#/components/schemas/ELASTICConfig"
                            }
                        },
                        "example": {
                            "name": "Elasticsearch Example",
                            "type": "ELASTIC",
                            "config": {
                                "host": "Enter your host",
                                "port": "Enter your port",
                                "api-key": "Enter your API key",
                                "index": "Enter index name"
                            }
                        }
                    },
                    {
                        "type": "object",
                        "title": "Pinecone",
                        "required": [
                            "name",
                            "type",
                            "config"
                        ],
                        "properties": {
                            "name": {
                                "type": "string",
                                "description": "Name of the connector"
                            },
                            "type": {
                                "type": "string",
                                "enum": [
                                    "PINECONE"
                                ],
                                "description": "Connector type (must be \"PINECONE\")"
                            },
                            "config": {
                                "$ref": "#/components/schemas/PINECONEConfig"
                            }
                        },
                        "example": {
                            "name": "Pinecone Example",
                            "type": "PINECONE",
                            "config": {
                                "api-key": "Enter your API Key",
                                "index": "Enter index name"
                            }
                        }
                    },
                    {
                        "type": "object",
                        "title": "Singlestore",
                        "required": [
                            "name",
                            "type",
                            "config"
                        ],
                        "properties": {
                            "name": {
                                "type": "string",
                                "description": "Name of the connector"
                            },
                            "type": {
[...]
