{"openapi":"3.0.0","info":{"title":"Vectorize API (Beta)","version":"0.0.1","description":"API for Vectorize services","contact":{"name":"Vectorize","url":"https://vectorize.io"}},"servers":[{"url":"https://api.vectorize.io/v1","description":"Vectorize API"}],"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}},"schemas":{"CreatePipelineResponse":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object","properties":{"id":{"type":"string"}},"required":["id"]}},"required":["message","data"]},"SourceConnectorType":{"type":"string","enum":["AWS_S3","AZURE_BLOB","CONFLUENCE","DISCORD","DROPBOX","GOOGLE_DRIVE_OAUTH","GOOGLE_DRIVE_OAUTH_MULTI","GOOGLE_DRIVE_OAUTH_MULTI_CUSTOM","FIRECRAWL","GCS","GOOGLE_DRIVE","INTERCOM","ONE_DRIVE","SHAREPOINT","WEB_CRAWLER","FILE_UPLOAD","SALESFORCE","ZENDESK"]},"SourceConnectorSchema":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"type":{"$ref":"#/components/schemas/SourceConnectorType"},"config":{"type":"object","additionalProperties":{"nullable":true}}},"required":["id","type"],"additionalProperties":false},"DestinationConnectorType":{"type":"string","enum":["CAPELLA","DATASTAX","ELASTIC","PINECONE","SINGLESTORE","MILVUS","POSTGRESQL","QDRANT","WEAVIATE","AZUREAISEARCH","VECTORIZE","CHROMA","MONGODB"]},"DestinationConnectorSchema":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"type":{"$ref":"#/components/schemas/DestinationConnectorType"},"config":{"type":"object","additionalProperties":{"nullable":true}}},"required":["id","type"],"additionalProperties":false},"AIPlatformType":{"type":"string","enum":["BEDROCK","VERTEX","OPENAI","VOYAGE","VECTORIZE"]},"AIPlatformConfigSchema":{"type":"object","properties":{"embeddingModel":{"type":"string","enum":["VECTORIZE_OPEN_AI_TEXT_EMBEDDING_2","VECTORIZE_OPEN_AI_TEXT_EMBEDDING_3_LARGE","VECTORIZE_OPEN_AI_TEXT_EMBEDDING_3_SMALL","VECTORIZE_VOYAGE_AI_2","VECTORIZE_VOYAGE_AI_3","VECTORIZE_VOYAGE_AI_3_LITE","VECTORIZE_VOYAGE_AI_3_LARGE","VECTORIZE_VOYAGE_AI_FINANCE_2","VECTORIZE_VOYAGE_AI_MULTILINGUAL_2","VECTORIZE_VOYAGE_AI_LAW_2","VECTORIZE_VOYAGE_AI_CODE_2","VECTORIZE_TITAN_TEXT_EMBEDDING_2","VECTORIZE_TITAN_TEXT_EMBEDDING_1","OPEN_AI_TEXT_EMBEDDING_2","OPEN_AI_TEXT_EMBEDDING_3_SMALL","OPEN_AI_TEXT_EMBEDDING_3_LARGE","VOYAGE_AI_2","VOYAGE_AI_3","VOYAGE_AI_3_LITE","VOYAGE_AI_3_LARGE","VOYAGE_AI_FINANCE_2","VOYAGE_AI_MULTILINGUAL_2","VOYAGE_AI_LAW_2","VOYAGE_AI_CODE_2","TITAN_TEXT_EMBEDDING_1","TITAN_TEXT_EMBEDDING_2","VERTEX_TEXT_EMBEDDING_4","VERTEX_TEXT_EMBEDDING_GECKO_3","VERTEX_GECKO_MULTILINGUAL_1","VERTEX_MULTILINGUAL_EMBEDDING_2"]},"chunkingStrategy":{"type":"string","enum":["FIXED","SENTENCE","PARAGRAPH","MARKDOWN"]},"chunkSize":{"type":"integer","minimum":1},"chunkOverlap":{"type":"integer","minimum":0},"dimensions":{"type":"integer","minimum":1},"extractionStrategy":{"type":"string","enum":["FAST","IRIS","MIXED"]}},"additionalProperties":false},"AIPlatformSchema":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"type":{"$ref":"#/components/schemas/AIPlatformType"},"config":{"$ref":"#/components/schemas/AIPlatformConfigSchema"}},"required":["id","type","config"],"additionalProperties":false},"ScheduleSchemaType":{"type":"string","enum":["manual","realtime","custom"]},"ScheduleSchema":{"type":"object","properties":{"type":{"$ref":"#/components/schemas/ScheduleSchemaType"}},"required":["type"]},"PipelineConfigurationSchema":{"type":"object","properties":{"sourceConnectors":{"type":"array","items":{"$ref":"#/components/schemas/SourceConnectorSchema"},"minItems":1},"destinationConnector":{"$ref":"#/components/schemas/DestinationConnectorSchema"},"aiPlatform":{"$ref":"#/components/schemas/AIPlatformSchema"},"pipelineName":{"type":"string","minLength":1},"schedule":{"$ref":"#/components/schemas/ScheduleSchema"}},"required":["sourceConnectors","destinationConnector","aiPlatform","pipelineName","schedule"],"additionalProperties":false},"PipelineListSummary":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"documentCount":{"type":"number"},"sourceConnectorAuthIds":{"type":"array","items":{"type":"string"}},"destinationConnectorAuthIds":{"type":"array","items":{"type":"string"}},"aiPlatformAuthIds":{"type":"array","items":{"type":"string"}},"sourceConnectorTypes":{"type":"array","items":{"type":"string"}},"destinationConnectorTypes":{"type":"array","items":{"type":"string"}},"aiPlatformTypes":{"type":"array","items":{"type":"string"}},"createdAt":{"type":"string","nullable":true},"createdBy":{"type":"string"},"status":{"type":"string"},"configDoc":{"type":"object","additionalProperties":{"nullable":true}}},"required":["id","name","documentCount","sourceConnectorAuthIds","destinationConnectorAuthIds","aiPlatformAuthIds","sourceConnectorTypes","destinationConnectorTypes","aiPlatformTypes","createdAt","createdBy"]},"GetPipelinesResponse":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/PipelineListSummary"}}},"required":["message","data"]},"SourceConnector":{"type":"object","properties":{"id":{"type":"string"},"type":{"type":"string"},"name":{"type":"string"},"configDoc":{"type":"object","additionalProperties":{"nullable":true}},"createdAt":{"type":"string","nullable":true},"createdById":{"type":"string"},"lastUpdatedById":{"type":"string"},"createdByEmail":{"type":"string"},"lastUpdatedByEmail":{"type":"string"},"errorMessage":{"type":"string"},"verificationStatus":{"type":"string"}},"required":["id","type","name"]},"DestinationConnector":{"type":"object","properties":{"id":{"type":"string"},"type":{"type":"string"},"name":{"type":"string"},"configDoc":{"type":"object","additionalProperties":{"nullable":true}},"createdAt":{"type":"string","nullable":true},"createdById":{"type":"string"},"lastUpdatedById":{"type":"string"},"createdByEmail":{"type":"string"},"lastUpdatedByEmail":{"type":"string"},"errorMessage":{"type":"string"},"verificationStatus":{"type":"string"}},"required":["id","type","name"]},"AIPlatform":{"type":"object","properties":{"id":{"type":"string"},"type":{"type":"string"},"name":{"type":"string"},"configDoc":{"type":"object","additionalProperties":{"nullable":true}},"createdAt":{"type":"string","nullable":true},"createdById":{"type":"string"},"lastUpdatedById":{"type":"string"},"createdByEmail":{"type":"string"},"lastUpdatedByEmail":{"type":"string"},"errorMessage":{"type":"string"},"verificationStatus":{"type":"string"}},"required":["id","type","name"]},"PipelineSummary":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"documentCount":{"type":"number"},"sourceConnectorAuthIds":{"type":"array","items":{"type":"string"}},"destinationConnectorAuthIds":{"type":"array","items":{"type":"string"}},"aiPlatformAuthIds":{"type":"array","items":{"type":"string"}},"sourceConnectorTypes":{"type":"array","items":{"type":"string"}},"destinationConnectorTypes":{"type":"array","items":{"type":"string"}},"aiPlatformTypes":{"type":"array","items":{"type":"string"}},"createdAt":{"type":"string","nullable":true},"createdBy":{"type":"string"},"status":{"type":"string"},"configDoc":{"type":"object","additionalProperties":{"nullable":true}},"sourceConnectors":{"type":"array","items":{"$ref":"#/components/schemas/SourceConnector"}},"destinationConnectors":{"type":"array","items":{"$ref":"#/components/schemas/DestinationConnector"}},"aiPlatforms":{"type":"array","items":{"$ref":"#/components/schemas/AIPlatform"}}},"required":["id","name","documentCount","sourceConnectorAuthIds","destinationConnectorAuthIds","aiPlatformAuthIds","sourceConnectorTypes","destinationConnectorTypes","aiPlatformTypes","createdAt","createdBy","sourceConnectors","destinationConnectors","aiPlatforms"]},"GetPipelineResponse":{"type":"object","properties":{"message":{"type":"string"},"data":{"$ref":"#/components/schemas/PipelineSummary"}},"required":["message","data"]},"DeletePipelineResponse":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]},"PipelineEvents":{"type":"object","properties":{"id":{"type":"string"},"type":{"type":"string"},"timestamp":{"type":"string","nullable":true},"details":{"type":"object","additionalProperties":{"nullable":true}},"summary":{"type":"object","additionalProperties":{"nullable":true}}},"required":["id","type","timestamp"]},"GetPipelineEventsResponse":{"type":"object","properties":{"message":{"type":"string"},"nextToken":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/PipelineEvents"}}},"required":["message","data"]},"PipelineMetrics":{"type":"object","properties":{"timestamp":{"type":"string","nullable":true},"newObjects":{"type":"number"},"changedObjects":{"type":"number"},"deletedObjects":{"type":"number"}},"required":["timestamp","newObjects","changedObjects","deletedObjects"]},"GetPipelineMetricsResponse":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/PipelineMetrics"}}},"required":["message","data"]},"Document":{"type":"object","properties":{"relevancy":{"type":"number"},"id":{"type":"string"},"text":{"type":"string"},"chunk_id":{"type":"string"},"total_chunks":{"type":"string"},"origin":{"type":"string"},"origin_id":{"type":"string"},"similarity":{"type":"number"},"source":{"type":"string"},"unique_source":{"type":"string"},"source_display_name":{"type":"string"},"pipeline_id":{"type":"string"},"org_id":{"type":"string"}},"required":["relevancy","id","text","chunk_id","total_chunks","origin","origin_id","similarity","source","unique_source","source_display_name"],"additionalProperties":true},"RetrieveDocumentsResponse":{"type":"object","properties":{"question":{"type":"string"},"documents":{"type":"array","items":{"$ref":"#/components/schemas/Document"}},"average_relevancy":{"type":"number"},"ndcg":{"type":"number"}},"required":["question","documents","average_relevancy","ndcg"]},"RetrieveContextMessage":{"type":"object","properties":{"role":{"type":"string"},"content":{"type":"string"}},"required":["role","content"]},"RetrieveContext":{"type":"object","properties":{"messages":{"type":"array","items":{"$ref":"#/components/schemas/RetrieveContextMessage"}}},"required":["messages"]},"RetrieveDocumentsRequest":{"type":"object","properties":{"question":{"type":"string"},"numResults":{"type":"number","minimum":1},"rerank":{"type":"boolean","default":true},"metadata-filters":{"type":"array","items":{"type":"object","additionalProperties":{"nullable":true}}},"context":{"$ref":"#/components/schemas/RetrieveContext"}},"required":["question","numResults"]},"StartPipelineResponse":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]},"StopPipelineResponse":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]},"StartDeepResearchResponse":{"type":"object","properties":{"researchId":{"type":"string"}},"required":["researchId"]},"N8NConfig":{"type":"object","properties":{"account":{"type":"string"},"webhookPath":{"type":"string"},"headers":{"type":"object","additionalProperties":{"type":"string"}}},"required":["account","webhookPath"]},"StartDeepResearchRequest":{"type":"object","properties":{"query":{"type":"string"},"webSearch":{"type":"boolean","default":false},"schema":{"type":"string"},"n8n":{"$ref":"#/components/schemas/N8NConfig"}},"required":["query"]},"DeepResearchResult":{"type":"object","properties":{"success":{"type":"boolean"},"events":{"type":"array","items":{"type":"string"}},"markdown":{"type":"string"},"error":{"type":"string"}},"required":["success"]},"GetDeepResearchResponse":{"type":"object","properties":{"ready":{"type":"boolean"},"data":{"$ref":"#/components/schemas/DeepResearchResult"}},"required":["ready"]},"CreatedSourceConnector":{"type":"object","properties":{"name":{"type":"string"},"id":{"type":"string"}},"required":["name","id"]},"CreateSourceConnectorResponse":{"type":"object","properties":{"message":{"type":"string"},"connectors":{"type":"array","items":{"$ref":"#/components/schemas/CreatedSourceConnector"}}},"required":["message","connectors"]},"CreateSourceConnector":{"type":"object","properties":{"name":{"type":"string"},"type":{"$ref":"#/components/schemas/SourceConnectorType"},"config":{"type":"object","additionalProperties":{"nullable":true}}},"required":["name","type"]},"CreateSourceConnectorRequest":{"type":"array","items":{"$ref":"#/components/schemas/CreateSourceConnector"},"minItems":1},"UpdateSourceConnectorResponseData":{"type":"object","properties":{"updatedConnector":{"$ref":"#/components/schemas/SourceConnector"},"pipelineIds":{"type":"array","items":{"type":"string"}}},"required":["updatedConnector"]},"UpdateSourceConnectorResponse":{"type":"object","properties":{"message":{"type":"string"},"data":{"$ref":"#/components/schemas/UpdateSourceConnectorResponseData"}},"required":["message","data"]},"UpdateSourceConnectorRequest":{"type":"object","properties":{"config":{"type":"object","additionalProperties":{"nullable":true}}},"required":["config"]},"DeleteSourceConnectorResponse":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]},"CreatedDestinationConnector":{"type":"object","properties":{"name":{"type":"string"},"id":{"type":"string"}},"required":["name","id"]},"CreateDestinationConnectorResponse":{"type":"object","properties":{"message":{"type":"string"},"connectors":{"type":"array","items":{"$ref":"#/components/schemas/CreatedDestinationConnector"}}},"required":["message","connectors"]},"CreateDestinationConnector":{"type":"object","properties":{"name":{"type":"string"},"type":{"$ref":"#/components/schemas/DestinationConnectorType"},"config":{"type":"object","additionalProperties":{"nullable":true}}},"required":["name","type"]},"CreateDestinationConnectorRequest":{"type":"array","items":{"$ref":"#/components/schemas/CreateDestinationConnector"},"minItems":1},"UpdatedDestinationConnectorData":{"type":"object","properties":{"updatedConnector":{"$ref":"#/components/schemas/DestinationConnector"},"pipelineIds":{"type":"array","items":{"type":"string"}}},"required":["updatedConnector"]},"UpdateDestinationConnectorResponse":{"type":"object","properties":{"message":{"type":"string"},"data":{"$ref":"#/components/schemas/UpdatedDestinationConnectorData"}},"required":["message","data"]},"UpdateDestinationConnectorRequest":{"type":"object","properties":{"config":{"type":"object","additionalProperties":{"nullable":true}}},"required":["config"]},"DeleteDestinationConnectorResponse":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]},"CreatedAIPlatformConnector":{"type":"object","properties":{"name":{"type":"string"},"id":{"type":"string"}},"required":["name","id"]},"CreateAIPlatformConnectorResponse":{"type":"object","properties":{"message":{"type":"string"},"connectors":{"type":"array","items":{"$ref":"#/components/schemas/CreatedAIPlatformConnector"}}},"required":["message","connectors"]},"CreateAIPlatformConnector":{"type":"object","properties":{"name":{"type":"string"},"type":{"$ref":"#/components/schemas/AIPlatformType"},"config":{"type":"object","additionalProperties":{"nullable":true}}},"required":["name","type"]},"CreateAIPlatformConnectorRequest":{"type":"array","items":{"$ref":"#/components/schemas/CreateAIPlatformConnector"},"minItems":1},"UpdatedAIPlatformConnectorData":{"type":"object","properties":{"updatedConnector":{"$ref":"#/components/schemas/AIPlatform"},"pipelineIds":{"type":"array","items":{"type":"string"}}},"required":["updatedConnector"]},"UpdateAIPlatformConnectorResponse":{"type":"object","properties":{"message":{"type":"string"},"data":{"$ref":"#/components/schemas/UpdatedAIPlatformConnectorData"}},"required":["message","data"]},"UpdateAIPlatformConnectorRequest":{"type":"object","properties":{"config":{"type":"object","additionalProperties":{"nullable":true}}},"required":["config"]},"DeleteAIPlatformConnectorResponse":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]},"UploadFile":{"type":"object","properties":{"key":{"type":"string"},"name":{"type":"string"},"size":{"type":"number"},"extension":{"type":"string"},"lastModified":{"type":"string","nullable":true},"metadata":{"type":"object","additionalProperties":{"type":"string"}}},"required":["key","name","size","lastModified","metadata"]},"GetUploadFilesResponse":{"type":"object","properties":{"message":{"type":"string"},"files":{"type":"array","items":{"$ref":"#/components/schemas/UploadFile"}}},"required":["message","files"]},"StartFileUploadToConnectorResponse":{"type":"object","properties":{"uploadUrl":{"type":"string"}},"required":["uploadUrl"]},"StartFileUploadToConnectorRequest":{"type":"object","properties":{"name":{"type":"string"},"contentType":{"type":"string"},"metadata":{"type":"string"}},"required":["name","contentType"]},"DeleteFileResponse":{"type":"object","properties":{"message":{"type":"string"},"fileName":{"type":"string"}},"required":["message","fileName"]},"StartExtractionResponse":{"type":"object","properties":{"message":{"type":"string"},"extractionId":{"type":"string"}},"required":["message","extractionId"]},"ExtractionType":{"type":"string","enum":["iris"],"default":"iris"},"ExtractionChunkingStrategy":{"type":"string","enum":["markdown"],"default":"markdown"},"MetadataExtractionStrategySchema":{"type":"object","properties":{"id":{"type":"string"},"schema":{"type":"string"}},"required":["id","schema"]},"MetadataExtractionStrategy":{"type":"object","properties":{"schemas":{"type":"array","items":{"$ref":"#/components/schemas/MetadataExtractionStrategySchema"}},"inferSchema":{"type":"boolean"}}},"StartExtractionRequest":{"type":"object","properties":{"fileId":{"type":"string"},"type":{"$ref":"#/components/schemas/ExtractionType"},"chunkingStrategy":{"$ref":"#/components/schemas/ExtractionChunkingStrategy"},"chunkSize":{"type":"number","default":256},"metadata":{"$ref":"#/components/schemas/MetadataExtractionStrategy"}},"required":["fileId"]},"ExtractionResult":{"type":"object","properties":{"success":{"type":"boolean"},"chunks":{"type":"array","items":{"type":"string"}},"text":{"type":"string"},"metadata":{"type":"string"},"metadataSchema":{"type":"string"},"chunksMetadata":{"type":"array","items":{"type":"string"}},"chunksSchema":{"type":"array","items":{"type":"string"}},"error":{"type":"string"}},"required":["success"]},"ExtractionResultResponse":{"type":"object","properties":{"ready":{"type":"boolean"},"data":{"$ref":"#/components/schemas/ExtractionResult"}},"required":["ready"]},"StartFileUploadResponse":{"type":"object","properties":{"fileId":{"type":"string"},"uploadUrl":{"type":"string"}},"required":["fileId","uploadUrl"]},"StartFileUploadRequest":{"type":"object","properties":{"name":{"type":"string"},"contentType":{"type":"string"}},"required":["name","contentType"]},"AddUserFromSourceConnectorResponse":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]},"AddUserToSourceConnectorRequest":{"type":"object","properties":{"userId":{"type":"string"},"fileIds":{"type":"array","items":{"type":"string"}},"refreshToken":{"type":"string"}},"required":["userId","refreshToken"]},"UpdateUserInSourceConnectorResponse":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]},"UpdateUserInSourceConnectorRequest":{"type":"object","properties":{"userId":{"type":"string"},"fileIds":{"type":"array","items":{"type":"string"}},"refreshToken":{"type":"string"}},"required":["userId"]},"RemoveUserFromSourceConnectorResponse":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]},"RemoveUserFromSourceConnectorRequest":{"type":"object","properties":{"userId":{"type":"string"}},"required":["userId"]}},"parameters":{}},"paths":{"/org/{organization}/pipelines":{"post":{"operationId":"createPipeline","summary":"Create a new source pipeline. Config fields for sources: Amazon S3 (AWS_S3): \nCheck for updates every (seconds) (idle-time): number, Path Prefix (path-prefix): text, Path Metadata Regex (path-metadata-regex): text, Path Regex Group Names (path-regex-group-names): array oftext) | Azure Blob Storage (AZURE_BLOB): \nPolling Interval (seconds) (idle-time): number, Path Prefix (path-prefix): text, Path Metadata Regex (path-metadata-regex): text, Path Regex Group Names (path-regex-group-names): array oftext) | Confluence (CONFLUENCE): \nSpaces (spaces): array oftext, Root Parents (root-parents): array oftext) | Discord (DISCORD): \nEmoji Filter (emoji): array oftext, Author Filter (author): array oftext, Ignore Author Filter (ignore-author): array oftext, Limit (limit): number) | Dropbox (DROPBOX): \nRead starting from these folders (optional) (path-prefix): array oftext) | Google Drive OAuth (GOOGLE_DRIVE_OAUTH): \nPolling Interval (seconds) (idle-time): number) | Google Drive OAuth (Multi-user) (GOOGLE_DRIVE_OAUTH_MULTI): \nPolling Interval (seconds) (idle-time): number) | Google Drive OAuth (Multi-user with white label) (GOOGLE_DRIVE_OAUTH_MULTI_CUSTOM): \nPolling Interval (seconds) (idle-time): number) | Firecrawl (FIRECRAWL): \n) | GCP Cloud Storage (GCS): \nCheck for updates every (seconds) (idle-time): number, Path Prefix (path-prefix): text, Path Metadata Regex (path-metadata-regex): text, Path Regex Group Names (path-regex-group-names): array oftext) | Google Drive (GOOGLE_DRIVE): \nRestrict ingest to these folder URLs (optional) (root-parents): array oftext, Polling Interval (seconds) (idle-time): number) | Intercom (INTERCOM): \nReindex Interval (seconds) (reindexIntervalSeconds): number, Limit (limit): number, Tags (tags): array oftext) | OneDrive (ONE_DRIVE): \nRead starting from this folder (optional) (path-prefix): text) | SharePoint (SHAREPOINT): \nSite Name(s) (sites): array oftext) | Web Crawler (WEB_CRAWLER): \nAdditional Allowed URLs or prefix(es) (allowed-domains-opt): array ofurl, Forbidden Paths (forbidden-paths): array oftext, Throttle (ms) (min-time-between-requests): number, Max Error Count (max-error-count): number, Max URLs (max-urls): number, Max Depth (max-depth): number, Reindex Interval (seconds) (reindex-interval-seconds): number) | File Upload (FILE_UPLOAD): \n). Config fields for destinations: Couchbase Capella (CAPELLA): \nBucket Name (bucket): text, Scope Name (scope): text, Collection Name (collection): text, Search Index Name (index): text) | DataStax Astra (DATASTAX): \nCollection Name (collection): text) | Elasticsearch (ELASTIC): \nIndex Name (index): text) | Pinecone (PINECONE): \nIndex Name (index): text, Namespace (namespace): text) | SingleStore (SINGLESTORE): \nTable Name (table): text) | Milvus (MILVUS): \nCollection Name (collection): text) | PostgreSQL (POSTGRESQL): \nTable Name (table): text) | Qdrant (QDRANT): \nCollection Name (collection): text) | Weaviate (WEAVIATE): \nCollection Name (collection): text) | Azure AI Search (AZUREAISEARCH): \nIndex Name (index): text) | Built-in (VECTORIZE): \n) | Chroma (CHROMA): \nIndex Name (index): text) | MongoDB (MONGODB): \nIndex Name (index): text). Config fields for AI platforms: ","tags":["Pipelines"],"security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"organization","in":"path"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PipelineConfigurationSchema"}}}},"responses":{"200":{"description":"Pipeline created successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreatePipelineResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}}}},"get":{"operationId":"getPipelines","summary":"Get all existing pipelines","tags":["Pipelines"],"security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"organization","in":"path"}],"responses":{"200":{"description":"Get all pipelines","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetPipelinesResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}}}}},"/org/{organization}/pipelines/{pipeline}":{"get":{"operationId":"getPipeline","summary":"Get a pipeline","tags":["Pipelines"],"security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"organization","in":"path"},{"schema":{"type":"string"},"required":true,"name":"pipeline","in":"path"}],"responses":{"200":{"description":"Pipeline fetched successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetPipelineResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}}}},"delete":{"operationId":"deletePipeline","summary":"Delete a pipeline","tags":["Pipelines"],"security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"organization","in":"path"},{"schema":{"type":"string"},"required":true,"name":"pipeline","in":"path"}],"responses":{"200":{"description":"Pipeline deleted successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeletePipelineResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}}}}},"/org/{organization}/pipelines/{pipeline}/events":{"get":{"operationId":"getPipelineEvents","summary":"Get pipeline events","tags":["Pipelines"],"security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"organization","in":"path"},{"schema":{"type":"string"},"required":true,"name":"pipeline","in":"path"},{"schema":{"type":"string"},"required":false,"name":"nextToken","in":"query"}],"responses":{"200":{"description":"Pipeline events fetched successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetPipelineEventsResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}}}}},"/org/{organization}/pipelines/{pipeline}/metrics":{"get":{"operationId":"getPipelineMetrics","summary":"Get pipeline metrics","tags":["Pipelines"],"security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"organization","in":"path"},{"schema":{"type":"string"},"required":true,"name":"pipeline","in":"path"}],"responses":{"200":{"description":"Pipeline metrics fetched successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetPipelineMetricsResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}}}}},"/org/{organization}/pipelines/{pipeline}/retrieval":{"post":{"operationId":"retrieveDocuments","summary":"Retrieve documents from a pipeline","tags":["Pipelines"],"security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"organization","in":"path"},{"schema":{"type":"string"},"required":true,"name":"pipeline","in":"path"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RetrieveDocumentsRequest"}}}},"responses":{"200":{"description":"Documents retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RetrieveDocumentsResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}}}}},"/org/{organization}/pipelines/{pipeline}/start":{"post":{"operationId":"startPipeline","summary":"Start a pipeline","tags":["Pipelines"],"security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"organization","in":"path"},{"schema":{"type":"string"},"required":true,"name":"pipeline","in":"path"}],"responses":{"200":{"description":"Pipeline started successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StartPipelineResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}}}}},"/org/{organization}/pipelines/{pipeline}/stop":{"post":{"operationId":"stopPipeline","summary":"Stop a pipeline","tags":["Pipelines"],"security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"organization","in":"path"},{"schema":{"type":"string"},"required":true,"name":"pipeline","in":"path"}],"responses":{"200":{"description":"Pipeline stopped successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StopPipelineResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}}}}},"/org/{organization}/pipelines/{pipeline}/deep-research":{"post":{"operationId":"startDeepResearch","summary":"Start a deep research","tags":["Pipelines"],"security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"organization","in":"path"},{"schema":{"type":"string"},"required":true,"name":"pipeline","in":"path"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StartDeepResearchRequest"}}}},"responses":{"200":{"description":"Deep Research started successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StartDeepResearchResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}}}}},"/org/{organization}/pipelines/{pipeline}/deep-research/{researchId}":{"get":{"operationId":"getDeepResearchResult","summary":"Get deep research result","tags":["Pipelines"],"security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"organization","in":"path"},{"schema":{"type":"string"},"required":true,"name":"pipeline","in":"path"},{"schema":{"type":"string"},"required":true,"name":"researchId","in":"path"}],"responses":{"200":{"description":"Get Deep Research was successful","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetDeepResearchResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}}}}},"/org/{organization}/connectors/sources":{"post":{"operationId":"createSourceConnector","summary":"Create a new source connector. Config values: Amazon S3 (AWS_S3): \nName (name): text, Access Key (access-key): text, Secret Key (secret-key): text, Bucket Name (bucket-name): text, Endpoint (endpoint): url, Region (region): text, Allow as archive destination (archiver): boolean) | Azure Blob Storage (AZURE_BLOB): \nName (name): text, Storage Account Name (storage-account-name): text, Storage Account Key (storage-account-key): text, Container (container): text, Endpoint (endpoint): url) | Confluence (CONFLUENCE): \nName (name): text, Username (username): text, API Token (api-token): text, Domain (domain): text) | Discord (DISCORD): \nName (name): text, Server ID (guild-id): text, Bot token (bot-token): text, Channel ID (channel-ids): array oftext) | Dropbox (DROPBOX): \nName (name): text) | Google Drive OAuth (GOOGLE_DRIVE_OAUTH): \nName (name): text) | Google Drive OAuth (Multi-user) (GOOGLE_DRIVE_OAUTH_MULTI): \nName (name): text) | Google Drive OAuth (Multi-user with white label) (GOOGLE_DRIVE_OAUTH_MULTI_CUSTOM): \nName (name): text, OAuth2 Client Id (oauth2-client-id): text, OAuth2 Client Secret (oauth2-client-secret): text) | Firecrawl (FIRECRAWL): \nName (name): text, API Key (api-key): text) | GCP Cloud Storage (GCS): \nName (name): text, Service Account JSON (service-account-json): textarea, Bucket (bucket-name): text) | Google Drive (GOOGLE_DRIVE): \nName (name): text, Service Account JSON (service-account-json): textarea) | Intercom (INTERCOM): \nName (name): text, Access Token (intercomAccessToken): text) | OneDrive (ONE_DRIVE): \nName (name): text, Client Id (ms-client-id): text, Tenant Id (ms-tenant-id): text, Client Secret (ms-client-secret): text, Users (users): array oftext) | SharePoint (SHAREPOINT): \nName (name): text, Client Id (ms-client-id): text, Tenant Id (ms-tenant-id): text, Client Secret (ms-client-secret): text) | Web Crawler (WEB_CRAWLER): \nName (name): text, Seed URL(s) (seed-urls): array ofurl) | File Upload (FILE_UPLOAD): \nName (name): text)","tags":["Connectors"],"security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"organization","in":"path"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateSourceConnectorRequest"}}}},"responses":{"200":{"description":"Connector successfully created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateSourceConnectorResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}}}},"get":{"operationId":"getSourceConnectors","summary":"Get all existing source connectors","tags":["Connectors"],"security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"organization","in":"path"}],"responses":{"200":{"description":"Get all source connectors","content":{"application/json":{"schema":{"type":"object","properties":{"sourceConnectors":{"type":"array","items":{"$ref":"#/components/schemas/SourceConnector"}}},"required":["sourceConnectors"]}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}}}}},"/org/{organization}/connectors/sources/{sourceConnectorId}":{"get":{"operationId":"getSourceConnector","summary":"Get a source connector","tags":["Connectors"],"security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"organization","in":"path"},{"schema":{"type":"string"},"required":true,"name":"sourceConnectorId","in":"path"}],"responses":{"200":{"description":"Get a source connector","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SourceConnector"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}}}},"patch":{"operationId":"updateSourceConnector","summary":"Update a source connector","tags":["Connectors"],"security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"organization","in":"path"},{"schema":{"type":"string"},"required":true,"name":"sourceConnectorId","in":"path"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateSourceConnectorRequest"}}}},"responses":{"200":{"description":"Source connector successfully updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateSourceConnectorResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}}}},"delete":{"operationId":"deleteSourceConnector","summary":"Delete a source connector","tags":["Connectors"],"security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"organization","in":"path"},{"schema":{"type":"string"},"required":true,"name":"sourceConnectorId","in":"path"}],"responses":{"200":{"description":"Source connector successfully deleted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteSourceConnectorResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}}}}},"/org/{organization}/connectors/destinations":{"post":{"operationId":"createDestinationConnector","summary":"Create a new destination connector. Config values: Couchbase Capella (CAPELLA): \nName (name): text, Cluster Access Name (username): text, Cluster Access Password (password): text, Connection String (connection-string): text) | DataStax Astra (DATASTAX): \nName (name): text, API Endpoint (endpoint_secret): text, Application Token (token): text) | Elasticsearch (ELASTIC): \nName (name): text, Host (host): text, Port (port): text, API Key (api-key): text) | Pinecone (PINECONE): \nName (name): text, API Key (api-key): text) | SingleStore (SINGLESTORE): \nName (name): text, Host (host): text, Port (port): number, Database (database): text, Username (username): text, Password (password): text) | Milvus (MILVUS): \nName (name): text, Public Endpoint (url): text, Token (token): text, Username (username): text, Password (password): text) | PostgreSQL (POSTGRESQL): \nName (name): text, Host (host): text, Port (port): number, Database (database): text, Username (username): text, Password (password): text) | Qdrant (QDRANT): \nName (name): text, Host (host): text, API Key (api-key): text) | Weaviate (WEAVIATE): \nName (name): text, Endpoint (host): text, API Key (api-key): text) | Azure AI Search (AZUREAISEARCH): \nName (name): text, Azure AI Search Service Name (service-name): text, API Key (api-key): text) | Built-in (VECTORIZE): \n) | Chroma (CHROMA): \nName (name): text, API Key (apiKey): text) | MongoDB (MONGODB): \nName (name): text, API Key (apiKey): text)","tags":["Connectors"],"security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"organization","in":"path"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateDestinationConnectorRequest"}}}},"responses":{"200":{"description":"Connector successfully created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateDestinationConnectorResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}}}},"get":{"operationId":"getDestinationConnectors","summary":"Get all existing destination connectors","tags":["Connectors"],"security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"organization","in":"path"}],"responses":{"200":{"description":"Get all destination connectors","content":{"application/json":{"schema":{"type":"object","properties":{"destinationConnectors":{"type":"array","items":{"$ref":"#/components/schemas/DestinationConnector"}}},"required":["destinationConnectors"]}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}}}}},"/org/{organization}/connectors/destinations/{destinationConnectorId}":{"get":{"operationId":"getDestinationConnector","summary":"Get a destination connector","tags":["Connectors"],"security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"organization","in":"path"},{"schema":{"type":"string"},"required":true,"name":"destinationConnectorId","in":"path"}],"responses":{"200":{"description":"Get a destination connector","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DestinationConnector"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}}}},"patch":{"operationId":"updateDestinationConnector","summary":"Update a destination connector","tags":["Connectors"],"security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"organization","in":"path"},{"schema":{"type":"string"},"required":true,"name":"destinationConnectorId","in":"path"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateDestinationConnectorRequest"}}}},"responses":{"200":{"description":"Destination connector successfully updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateDestinationConnectorResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}}}},"delete":{"operationId":"deleteDestinationConnector","summary":"Delete a destination connector","tags":["Connectors"],"security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"organization","in":"path"},{"schema":{"type":"string"},"required":true,"name":"destinationConnectorId","in":"path"}],"responses":{"200":{"description":"Destination connector successfully deleted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteDestinationConnectorResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}}}}},"/org/{organization}/connectors/aiplatforms":{"post":{"operationId":"createAIPlatformConnector","summary":"Create a new AI Platform connector. Config values: Amazon Bedrock (BEDROCK): \nName (name): text, Access Key (access-key): text, Secret Key (key): text) | Google Vertex AI (VERTEX): \nName (name): text, Service Account Json (key): textarea, Region (region): text) | OpenAI (OPENAI): \nName (name): text, API Key (key): text) | Voyage AI (VOYAGE): \nName (name): text, API Key (key): text) | Built-in (VECTORIZE): \n)","tags":["Connectors"],"security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"organization","in":"path"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAIPlatformConnectorRequest"}}}},"responses":{"200":{"description":"Connector successfully created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAIPlatformConnectorResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}}}},"get":{"operationId":"getAIPlatformConnectors","summary":"Get all existing AI Platform connectors","tags":["Connectors"],"security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"organization","in":"path"}],"responses":{"200":{"description":"Get all existing AI Platform connectors","content":{"application/json":{"schema":{"type":"object","properties":{"aiPlatformConnectors":{"type":"array","items":{"$ref":"#/components/schemas/AIPlatform"}}},"required":["aiPlatformConnectors"]}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}}}}},"/org/{organization}/connectors/aiplatforms/{aiplatformId}":{"get":{"operationId":"getAIPlatformConnector","summary":"Get an AI platform connector","tags":["Connectors"],"security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"organization","in":"path"},{"schema":{"type":"string"},"required":true,"name":"aiplatformId","in":"path"}],"responses":{"200":{"description":"Get an AI platform connector","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AIPlatform"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}}}},"patch":{"operationId":"updateAIPlatformConnector","summary":"Update an AI Platform connector","tags":["Connectors"],"security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"organization","in":"path"},{"schema":{"type":"string"},"required":true,"name":"aiplatformId","in":"path"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateAIPlatformConnectorRequest"}}}},"responses":{"200":{"description":"AI Platform connector successfully updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateAIPlatformConnectorResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}}}},"delete":{"operationId":"deleteAIPlatform","summary":"Delete an AI platform connector","tags":["Connectors"],"security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"organization","in":"path"},{"schema":{"type":"string"},"required":true,"name":"aiplatformId","in":"path"}],"responses":{"200":{"description":"AI Platform connector successfully deleted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteAIPlatformConnectorResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}}}}},"/org/{organization}/uploads/{connectorId}/files":{"get":{"operationId":"getUploadFilesFromConnector","summary":"Get uploaded files from a file upload connector","tags":["Uploads"],"security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"organization","in":"path"},{"schema":{"type":"string"},"required":true,"name":"connectorId","in":"path"}],"responses":{"200":{"description":"Files retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetUploadFilesResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}}}},"put":{"operationId":"startFileUploadToConnector","summary":"Upload a file to a file upload connector","tags":["Uploads"],"security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"organization","in":"path"},{"schema":{"type":"string"},"required":true,"name":"connectorId","in":"path"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StartFileUploadToConnectorRequest"}}}},"responses":{"200":{"description":"File ready to be uploaded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StartFileUploadToConnectorResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}}}},"delete":{"operationId":"deleteFileFromConnector","summary":"Delete a file from a file upload connector","tags":["Uploads"],"security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"organization","in":"path"},{"schema":{"type":"string"},"required":true,"name":"connectorId","in":"path"}],"responses":{"200":{"description":"File deleted successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteFileResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}}}}},"/org/{organization}/extraction":{"post":{"operationId":"startExtraction","summary":"Start content extraction from a file","tags":["Extraction"],"security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"organization","in":"path"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StartExtractionRequest"}}}},"responses":{"200":{"description":"Extraction started successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StartExtractionResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}}}}},"/org/{organization}/extraction/{extractionId}":{"get":{"operationId":"getExtractionResult","summary":"Get extraction result","tags":["Extraction"],"security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"organization","in":"path"},{"schema":{"type":"string"},"required":true,"name":"extractionId","in":"path"}],"responses":{"200":{"description":"Extraction started successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExtractionResultResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}}}}},"/org/{organization}/files":{"post":{"operationId":"startFileUpload","summary":"Upload a generic file to the platform","tags":["Files"],"security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"organization","in":"path"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StartFileUploadRequest"}}}},"responses":{"200":{"description":"File upload started successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StartFileUploadResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}}}}},"/org/{organization}/connectors/sources/{sourceConnectorId}/users":{"post":{"operationId":"addUserToSourceConnector","summary":"Add a user to a source connector","tags":["Connectors"],"security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"organization","in":"path"},{"schema":{"type":"string"},"required":true,"name":"sourceConnectorId","in":"path"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddUserToSourceConnectorRequest"}}}},"responses":{"200":{"description":"User successfully added to the source connector","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddUserFromSourceConnectorResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}}}},"patch":{"operationId":"updateUserInSourceConnector","summary":"Update a source connector user","tags":["Connectors"],"security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"organization","in":"path"},{"schema":{"type":"string"},"required":true,"name":"sourceConnectorId","in":"path"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateUserInSourceConnectorRequest"}}}},"responses":{"200":{"description":"User successfully updated in the source connector","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateUserInSourceConnectorResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}}}},"delete":{"operationId":"deleteUserFromSourceConnector","summary":"Delete a source connector user","tags":["Connectors"],"security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"organization","in":"path"},{"schema":{"type":"string"},"required":true,"name":"sourceConnectorId","in":"path"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RemoveUserFromSourceConnectorRequest"}}}},"responses":{"200":{"description":"User successfully removed from the source connector","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RemoveUserFromSourceConnectorResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"strin
[...]
