{"openapi":"3.0.0","info":{"title":"Vectorize API (Beta)","version":"0.0.1","description":"API for Vectorize services","contact":{"name":"Vectorize","url":"https://vectorize.io"}},"servers":[{"url":"https://api.vectorize.io/v1","description":"Vectorize API"}],"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}},"schemas":{"CreatePipelineResponse":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object","properties":{"id":{"type":"string"}},"required":["id"]}},"required":["message","data"]},"SourceConnectorSchema":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"type":{"type":"string","enum":["AWS_S3","AZURE_BLOB","CONFLUENCE","DISCORD","DROPBOX","FIRECRAWL","GCS","GOOGLE_DRIVE","INTERCOM","ONE_DRIVE","SHAREPOINT","WEB_CRAWLER","FILE_UPLOAD","SALESFORCE","ZENDESK"]},"config":{"type":"object","properties":{}}},"required":["id","type","config"],"additionalProperties":false},"DestinationConnectorSchema":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"type":{"type":"string"},"config":{"type":"object","properties":{}}},"required":["id","type","config"],"additionalProperties":false},"AIPlatformSchema":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"type":{"type":"string"},"config":{"type":"object","properties":{}}},"required":["id","type","config"],"additionalProperties":false},"ScheduleSchema":{"type":"object","properties":{"type":{"type":"string","enum":["manual","realtime","custom"]}},"required":["type"]},"PipelineConfigurationSchema":{"type":"object","properties":{"sourceConnectors":{"type":"array","items":{"$ref":"#/components/schemas/SourceConnectorSchema"},"minItems":1},"destinationConnector":{"$ref":"#/components/schemas/DestinationConnectorSchema"},"aiPlatform":{"$ref":"#/components/schemas/AIPlatformSchema"},"pipelineName":{"type":"string","minLength":1},"schedule":{"$ref":"#/components/schemas/ScheduleSchema"}},"required":["sourceConnectors","destinationConnector","aiPlatform","pipelineName","schedule"],"additionalProperties":false},"PipelineListSummary":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"documentCount":{"type":"number"},"sourceConnectorAuthIds":{"type":"array","items":{"type":"string"}},"destinationConnectorAuthIds":{"type":"array","items":{"type":"string"}},"aiPlatformAuthIds":{"type":"array","items":{"type":"string"}},"sourceConnectorTypes":{"type":"array","items":{"type":"string"}},"destinationConnectorTypes":{"type":"array","items":{"type":"string"}},"aiPlatformTypes":{"type":"array","items":{"type":"string"}},"createdAt":{"type":"string","nullable":true},"createdBy":{"type":"string"},"status":{"type":"string"},"configDoc":{"type":"object","additionalProperties":{"nullable":true}}},"required":["id","name","documentCount","sourceConnectorAuthIds","destinationConnectorAuthIds","aiPlatformAuthIds","sourceConnectorTypes","destinationConnectorTypes","aiPlatformTypes","createdAt","createdBy"]},"GetPipelinesResponse":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/PipelineListSummary"}}},"required":["message","data"]},"SourceConnector":{"type":"object","properties":{"id":{"type":"string"},"type":{"type":"string"},"name":{"type":"string"},"configDoc":{"type":"object","additionalProperties":{"nullable":true}},"createdAt":{"type":"string","nullable":true},"createdById":{"type":"string"},"lastUpdatedById":{"type":"string"},"createdByEmail":{"type":"string"},"lastUpdatedByEmail":{"type":"string"},"errorMessage":{"type":"string"},"verificationStatus":{"type":"string"}},"required":["id","type","name"]},"DestinationConnector":{"type":"object","properties":{"id":{"type":"string"},"type":{"type":"string"},"name":{"type":"string"},"configDoc":{"type":"object","additionalProperties":{"nullable":true}},"createdAt":{"type":"string","nullable":true},"createdById":{"type":"string"},"lastUpdatedById":{"type":"string"},"createdByEmail":{"type":"string"},"lastUpdatedByEmail":{"type":"string"},"errorMessage":{"type":"string"},"verificationStatus":{"type":"string"}},"required":["id","type","name"]},"AIPlatform":{"type":"object","properties":{"id":{"type":"string"},"type":{"type":"string"},"name":{"type":"string"},"configDoc":{"type":"object","additionalProperties":{"nullable":true}},"createdAt":{"type":"string","nullable":true},"createdById":{"type":"string"},"lastUpdatedById":{"type":"string"},"createdByEmail":{"type":"string"},"lastUpdatedByEmail":{"type":"string"},"errorMessage":{"type":"string"},"verificationStatus":{"type":"string"}},"required":["id","type","name"]},"PipelineSummary":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"documentCount":{"type":"number"},"sourceConnectorAuthIds":{"type":"array","items":{"type":"string"}},"destinationConnectorAuthIds":{"type":"array","items":{"type":"string"}},"aiPlatformAuthIds":{"type":"array","items":{"type":"string"}},"sourceConnectorTypes":{"type":"array","items":{"type":"string"}},"destinationConnectorTypes":{"type":"array","items":{"type":"string"}},"aiPlatformTypes":{"type":"array","items":{"type":"string"}},"createdAt":{"type":"string","nullable":true},"createdBy":{"type":"string"},"status":{"type":"string"},"configDoc":{"type":"object","additionalProperties":{"nullable":true}},"sourceConnectors":{"type":"array","items":{"$ref":"#/components/schemas/SourceConnector"}},"destinationConnectors":{"type":"array","items":{"$ref":"#/components/schemas/DestinationConnector"}},"aiPlatforms":{"type":"array","items":{"$ref":"#/components/schemas/AIPlatform"}}},"required":["id","name","documentCount","sourceConnectorAuthIds","destinationConnectorAuthIds","aiPlatformAuthIds","sourceConnectorTypes","destinationConnectorTypes","aiPlatformTypes","createdAt","createdBy","sourceConnectors","destinationConnectors","aiPlatforms"]},"GetPipelineResponse":{"type":"object","properties":{"message":{"type":"string"},"data":{"$ref":"#/components/schemas/PipelineSummary"}},"required":["message","data"]},"DeletePipelineResponse":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]},"GetPipelineEventsResponse":{"type":"object","properties":{"message":{"type":"string"},"nextToken":{"type":"string"},"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"type":{"type":"string"},"timestamp":{"type":"string","nullable":true},"details":{"type":"object","additionalProperties":{"nullable":true}},"summary":{"type":"object","additionalProperties":{"nullable":true}}},"required":["id","type","timestamp"]}}},"required":["message","data"]},"GetPipelineMetricsResponse":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"array","items":{"type":"object","properties":{"timestamp":{"type":"string","nullable":true},"newObjects":{"type":"number"},"changedObjects":{"type":"number"},"deletedObjects":{"type":"number"}},"required":["timestamp","newObjects","changedObjects","deletedObjects"]}}},"required":["message","data"]},"Document":{"type":"object","properties":{"relevancy":{"type":"number"},"id":{"type":"string"},"text":{"type":"string"},"chunk_id":{"type":"string"},"total_chunks":{"type":"string"},"origin":{"type":"string"},"origin_id":{"type":"string"},"similarity":{"type":"number"},"source":{"type":"string"},"unique_source":{"type":"string"},"source_display_name":{"type":"string"},"pipeline_id":{"type":"string"},"org_id":{"type":"string"}},"required":["relevancy","id","text","chunk_id","total_chunks","origin","origin_id","similarity","source","unique_source","source_display_name"],"additionalProperties":true},"RetrieveDocumentsResponse":{"type":"object","properties":{"question":{"type":"string"},"documents":{"type":"array","items":{"$ref":"#/components/schemas/Document"}},"average_relevancy":{"type":"number"},"ndcg":{"type":"number"}},"required":["question","documents","average_relevancy","ndcg"]},"RetrieveDocumentsRequest":{"type":"object","properties":{"question":{"type":"string"},"numResults":{"type":"number","minimum":1},"rerank":{"type":"boolean","default":true},"metadata-filters":{"type":"array","items":{"type":"object","additionalProperties":{"nullable":true}}},"context":{"type":"object","properties":{"messages":{"type":"array","items":{"type":"object","properties":{"role":{"type":"string"},"content":{"type":"string"}},"required":["role","content"]}}},"required":["messages"]}},"required":["question","numResults"]},"StartPipelineResponse":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]},"StopPipelineResponse":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]},"StartDeepResearchResponse":{"type":"object","properties":{"researchId":{"type":"string"}},"required":["researchId"]},"StartDeepResearchRequest":{"type":"object","properties":{"query":{"type":"string"},"webSearch":{"type":"boolean","default":false},"schema":{"type":"string"},"n8n":{"type":"object","properties":{"account":{"type":"string"},"webhookPath":{"type":"string"},"headers":{"type":"object","additionalProperties":{"type":"string"}}},"required":["account","webhookPath"]}},"required":["query"]},"GetDeepResearchResponse":{"type":"object","properties":{"ready":{"type":"boolean"},"data":{"type":"object","properties":{"success":{"type":"boolean"},"events":{"type":"array","items":{"type":"string"}},"markdown":{"type":"string"},"error":{"type":"string"}},"required":["success"]}},"required":["ready"]},"CreateSourceConnectorResponse":{"type":"object","properties":{"message":{"type":"string"},"connectors":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"id":{"type":"string"}},"required":["name","id"]}}},"required":["message","connectors"]},"CreateSourceConnector":{"type":"array","items":{"type":"object","properties":{}},"minItems":1},"UpdateSourceConnectorRequest":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object","properties":{"updatedConnector":{"$ref":"#/components/schemas/SourceConnector"},"pipelineIds":{"type":"array","items":{"type":"string"}}},"required":["updatedConnector"]}},"required":["message","data"]},"DeleteSourceConnectorResponse":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]},"CreateDestinationConnectorResponse":{"type":"object","properties":{"message":{"type":"string"},"connectors":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"id":{"type":"string"}},"required":["name","id"]}}},"required":["message","connectors"]},"DeleteDestinationConnectorResponse":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]},"CreateAIPlatformConnectorResponse":{"type":"object","properties":{"message":{"type":"string"},"connectors":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"id":{"type":"string"}},"required":["name","id"]}}},"required":["message","connectors"]},"UpdateAIPlatformConnectorRequest":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object","properties":{"updatedConnector":{"$ref":"#/components/schemas/AIPlatform"},"pipelineIds":{"type":"array","items":{"type":"string"}}},"required":["updatedConnector"]}},"required":["message","data"]},"DeleteAIPlatformConnectorResponse":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]},"GetUploadFilesResponse":{"type":"object","properties":{"message":{"type":"string"},"files":{"type":"array","items":{"type":"object","properties":{"key":{"type":"string"},"name":{"type":"string"},"size":{"type":"number"},"extension":{"type":"string"},"lastModified":{"type":"string","nullable":true},"metadata":{"type":"object","additionalProperties":{"type":"string"}}},"required":["key","name","size","lastModified","metadata"]}}},"required":["message","files"]},"StartFileUploadToConnectorResponse":{"type":"object","properties":{"uploadUrl":{"type":"string"}},"required":["uploadUrl"]},"StartFileUploadToConnectorRequest":{"type":"object","properties":{"name":{"type":"string"},"contentType":{"type":"string"},"metadata":{"type":"string"}},"required":["name","contentType"]},"DeleteFileResponse":{"type":"object","properties":{"message":{"type":"string"},"fileName":{"type":"string"}},"required":["message","fileName"]},"StartExtractionResponse":{"type":"object","properties":{"message":{"type":"string"},"extractionId":{"type":"string"}},"required":["message","extractionId"]},"StartExtractionRequest":{"type":"object","properties":{"fileId":{"type":"string"},"type":{"type":"string","enum":["iris"],"default":"iris"},"chunkingStrategy":{"type":"string","enum":["markdown"],"default":"markdown"},"chunkSize":{"type":"number","default":256}},"required":["fileId"]},"ExtractionResultResponse":{"type":"object","properties":{"ready":{"type":"boolean"},"data":{"type":"object","properties":{"success":{"type":"boolean"},"chunks":{"type":"array","items":{"type":"string"}},"text":{"type":"string"},"error":{"type":"string"}},"required":["success"]}},"required":["ready"]},"StartFileUploadResponse":{"type":"object","properties":{"fileId":{"type":"string"},"uploadUrl":{"type":"string"}},"required":["fileId","uploadUrl"]},"StartFileUploadRequest":{"type":"object","properties":{"name":{"type":"string"},"contentType":{"type":"string"}},"required":["name","contentType"]}},"parameters":{}},"paths":{"/org/{organization}/pipelines":{"post":{"operationId":"createPipeline","summary":"Create a new pipeline","tags":["Pipelines"],"security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"organization","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PipelineConfigurationSchema"}}}},"responses":{"200":{"description":"Pipeline created successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreatePipelineResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}}}},"get":{"operationId":"getPipelines","summary":"Get all existing pipelines","tags":["Pipelines"],"security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"organization","in":"path"}],"responses":{"200":{"description":"Get all pipelines","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetPipelinesResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}}}}},"/org/{organization}/pipelines/{pipeline}":{"get":{"operationId":"getPipeline","summary":"Get a pipeline","tags":["Pipelines"],"security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"organization","in":"path"},{"schema":{"type":"string"},"required":true,"name":"pipeline","in":"path"}],"responses":{"200":{"description":"Pipeline fetched successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetPipelineResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}}}},"delete":{"operationId":"deletePipeline","summary":"Delete a pipeline","tags":["Pipelines"],"security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"organization","in":"path"},{"schema":{"type":"string"},"required":true,"name":"pipeline","in":"path"}],"responses":{"200":{"description":"Pipeline deleted successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeletePipelineResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}}}}},"/org/{organization}/pipelines/{pipeline}/events":{"get":{"operationId":"getPipelineEvents","summary":"Get pipeline events","tags":["Pipelines"],"security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"organization","in":"path"},{"schema":{"type":"string"},"required":true,"name":"pipeline","in":"path"},{"schema":{"type":"string"},"required":false,"name":"nextToken","in":"query"}],"responses":{"200":{"description":"Pipeline events fetched successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetPipelineEventsResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}}}}},"/org/{organization}/pipelines/{pipeline}/metrics":{"get":{"operationId":"getPipelineMetrics","summary":"Get pipeline metrics","tags":["Pipelines"],"security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"organization","in":"path"},{"schema":{"type":"string"},"required":true,"name":"pipeline","in":"path"}],"responses":{"200":{"description":"Pipeline metrics fetched successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetPipelineMetricsResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}}}}},"/org/{organization}/pipelines/{pipeline}/retrieval":{"post":{"operationId":"retrieveDocuments","summary":"Retrieve documents from a pipeline","tags":["Pipelines"],"security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"organization","in":"path"},{"schema":{"type":"string"},"required":true,"name":"pipeline","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RetrieveDocumentsRequest"}}}},"responses":{"200":{"description":"Documents retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RetrieveDocumentsResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}}}}},"/org/{organization}/pipelines/{pipeline}/start":{"post":{"operationId":"startPipeline","summary":"Start a pipeline","tags":["Pipelines"],"security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"organization","in":"path"},{"schema":{"type":"string"},"required":true,"name":"pipeline","in":"path"}],"responses":{"200":{"description":"Pipeline started successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StartPipelineResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}}}}},"/org/{organization}/pipelines/{pipeline}/stop":{"post":{"operationId":"stopPipeline","summary":"Stop a pipeline","tags":["Pipelines"],"security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"organization","in":"path"},{"schema":{"type":"string"},"required":true,"name":"pipeline","in":"path"}],"responses":{"200":{"description":"Pipeline stopped successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StopPipelineResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}}}}},"/org/{organization}/pipelines/{pipeline}/deep-research":{"post":{"operationId":"startDeepResearch","summary":"Start a deep research","tags":["Pipelines"],"security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"organization","in":"path"},{"schema":{"type":"string"},"required":true,"name":"pipeline","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StartDeepResearchRequest"}}}},"responses":{"200":{"description":"Deep Research started successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StartDeepResearchResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}}}}},"/org/{organization}/pipelines/{pipeline}/deep-research/{researchId}":{"get":{"operationId":"getDeepResearchResult","summary":"Get deep research result","tags":["Pipelines"],"security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"organization","in":"path"},{"schema":{"type":"string"},"required":true,"name":"pipeline","in":"path"},{"schema":{"type":"string"},"required":true,"name":"researchId","in":"path"}],"responses":{"200":{"description":"Get Deep Research was successful","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetDeepResearchResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}}}}},"/org/{organization}/connectors/sources":{"post":{"operationId":"createSourceConnector","summary":"Create a new source connector","tags":["Connectors"],"security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"organization","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateSourceConnector"}}}},"responses":{"200":{"description":"Connector successfully created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateSourceConnectorResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}}}},"get":{"operationId":"getSourceConnectors","summary":"Get all existing source connectors","tags":["Connectors"],"security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"organization","in":"path"}],"responses":{"200":{"description":"Get all source connectors","content":{"application/json":{"schema":{"type":"object","properties":{"sourceConnectors":{"type":"array","items":{"$ref":"#/components/schemas/SourceConnector"}}},"required":["sourceConnectors"]}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}}}}},"/org/{organization}/connectors/sources/{sourceConnectorId}":{"get":{"operationId":"getSourceConnector","summary":"Get a source connector","tags":["Connectors"],"security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"organization","in":"path"},{"schema":{"type":"string"},"required":true,"name":"sourceConnectorId","in":"path"}],"responses":{"200":{"description":"Get a source connector","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SourceConnector"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}}}},"patch":{"operationId":"updateSourceConnector","summary":"Update a source connector","tags":["Connectors"],"security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"organization","in":"path"},{"schema":{"type":"string"},"required":true,"name":"sourceConnectorId","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/UpdateSourceConnectorRequest"},{"additionalProperties":{"nullable":true}}]}}}},"responses":{"200":{"description":"Source connector successfully updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateSourceConnectorRequest"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}}}},"delete":{"operationId":"deleteSourceConnector","summary":"Delete a source connector","tags":["Connectors"],"security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"organization","in":"path"},{"schema":{"type":"string"},"required":true,"name":"sourceConnectorId","in":"path"}],"responses":{"200":{"description":"Source connector successfully deleted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteSourceConnectorResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}}}}},"/org/{organization}/connectors/destinations":{"post":{"operationId":"createDestinationConnector","summary":"Create a new destination connector","tags":["Connectors"],"security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"organization","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{}},"minItems":1}}}},"responses":{"200":{"description":"Connector successfully created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateDestinationConnectorResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}}}},"get":{"operationId":"getDestinationConnectors","summary":"Get all existing destination connectors","tags":["Connectors"],"security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"organization","in":"path"}],"responses":{"200":{"description":"Get all destination connectors","content":{"application/json":{"schema":{"type":"object","properties":{"destinationConnectors":{"type":"array","items":{"$ref":"#/components/schemas/DestinationConnector"}}},"required":["destinationConnectors"]}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}}}}},"/org/{organization}/connectors/destinations/{destinationConnectorId}":{"get":{"operationId":"getDestinationConnector","summary":"Get a destination connector","tags":["Connectors"],"security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"organization","in":"path"},{"schema":{"type":"string"},"required":true,"name":"destinationConnectorId","in":"path"}],"responses":{"200":{"description":"Get a destination connector","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DestinationConnector"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}}}},"patch":{"operationId":"updateDestinationConnector","summary":"Update a destination connector","tags":["Connectors"],"security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"organization","in":"path"},{"schema":{"type":"string"},"required":true,"name":"destinationConnectorId","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/UpdateSourceConnectorRequest"},{"additionalProperties":{"nullable":true}}]}}}},"responses":{"200":{"description":"Destination connector successfully updated","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/UpdateSourceConnectorRequest"},{"properties":{"message":{"type":"string"},"data":{"type":"object","properties":{"updatedConnector":{"$ref":"#/components/schemas/DestinationConnector"},"pipelineIds":{"type":"array","items":{"type":"string"}}},"required":["updatedConnector"]}}}]}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}}}},"delete":{"operationId":"deleteDestinationConnector","summary":"Delete a destination connector","tags":["Connectors"],"security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"organization","in":"path"},{"schema":{"type":"string"},"required":true,"name":"destinationConnectorId","in":"path"}],"responses":{"200":{"description":"Destination connector successfully deleted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteDestinationConnectorResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}}}}},"/org/{organization}/connectors/aiplatforms":{"post":{"operationId":"createAIPlatformConnector","summary":"Create a new AI Platform connector","tags":["Connectors"],"security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"organization","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{}},"minItems":1}}}},"responses":{"200":{"description":"Connector successfully created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAIPlatformConnectorResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}}}},"get":{"operationId":"getAIPlatformConnectors","summary":"Get all existing AI Platform connectors","tags":["Connectors"],"security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"organization","in":"path"}],"responses":{"200":{"description":"Get all existing AI Platform connectors","content":{"application/json":{"schema":{"type":"object","properties":{"aiPlatformConnectors":{"type":"array","items":{"$ref":"#/components/schemas/AIPlatform"}}},"required":["aiPlatformConnectors"]}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}}}}},"/org/{organization}/connectors/aiplatforms/{aiplatformId}":{"get":{"operationId":"getAIPlatformConnector","summary":"Get an AI platform connector","tags":["Connectors"],"security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"organization","in":"path"},{"schema":{"type":"string"},"required":true,"name":"aiplatformId","in":"path"}],"responses":{"200":{"description":"Get an AI platform connector","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AIPlatform"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}}}},"patch":{"operationId":"updateAIPlatformConnector","summary":"Update an AI Platform connector","tags":["Connectors"],"security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"organization","in":"path"},{"schema":{"type":"string"},"required":true,"name":"aiplatformId","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/UpdateAIPlatformConnectorRequest"},{"additionalProperties":{"nullable":true}}]}}}},"responses":{"200":{"description":"AI Platform connector successfully updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateAIPlatformConnectorRequest"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}}}},"delete":{"operationId":"deleteAIPlatform","summary":"Delete an AI platform connector","tags":["Connectors"],"security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"organization","in":"path"},{"schema":{"type":"string"},"required":true,"name":"aiplatformId","in":"path"}],"responses":{"200":{"description":"AI Platform connector successfully deleted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteAIPlatformConnectorResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}}}}},"/org/{organization}/uploads/{connectorId}/files":{"get":{"operationId":"getUploadFilesFromConnector","summary":"Get uploaded files from a file upload connector","tags":["Uploads"],"security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"organization","in":"path"},{"schema":{"type":"string"},"required":true,"name":"connectorId","in":"path"}],"responses":{"200":{"description":"Files retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetUploadFilesResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}}}},"put":{"operationId":"startFileUploadToConnector","summary":"Upload a file to a file upload connector","tags":["Uploads"],"security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"organization","in":"path"},{"schema":{"type":"string"},"required":true,"name":"connectorId","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StartFileUploadToConnectorRequest"}}}},"responses":{"200":{"description":"File ready to be uploaded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StartFileUploadToConnectorResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}}}},"delete":{"operationId":"deleteFileFromConnector","summary":"Delete a file from a file upload connector","tags":["Uploads"],"security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"organization","in":"path"},{"schema":{"type":"string"},"required":true,"name":"connectorId","in":"path"}],"responses":{"200":{"description":"File deleted successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteFileResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}}}}},"/org/{organization}/extraction":{"post":{"operationId":"startExtraction","summary":"Start content extraction from a file","tags":["Extraction"],"security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"organization","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StartExtractionRequest"}}}},"responses":{"200":{"description":"Extraction started successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StartExtractionResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}}}}},"/org/{organization}/extraction/{extractionId}":{"get":{"operationId":"getExtractionResult","summary":"Get extraction result","tags":["Extraction"],"security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"organization","in":"path"},{"schema":{"type":"string"},"required":true,"name":"extractionId","in":"path"}],"responses":{"200":{"description":"Extraction started successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExtractionResultResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}}}}},"/org/{organization}/files":{"post":{"operationId":"startFileUpload","summary":"Upload a generic file to the platform","tags":["Files"],"security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"organization","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StartFileUploadRequest"}}}},"responses":{"200":{"description":"File upload started successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StartFileUploadResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"},"failedUpdates":{"type":"array","items":{"type":"string"}},"successfulUpdates":{"type":"array","items":{"type":"string"}}},"required":["error"]}}}}}}}}}