{
  "openapi": "3.0.0",
  "info": {
    "title": "Vectorize API (Beta)",
    "version": "0.0.0",
    "description": "API documentation for Vectorize services",
    "contact": {
      "name": "Vectorize",
      "url": "https://vectorize.io"
    }
  },
  "servers": [
    {
      "url": "https://api.vectorize.io/v1",
      "description": "Vectorize API"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "CreatePipelineResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              }
            },
            "required": [
              "id"
            ]
          }
        },
        "required": [
          "message",
          "data"
        ]
      },
      "RequestError": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          }
        },
        "required": [
          "error"
        ]
      },
      "SourceConnectorSchema": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "type": "string",
            "enum": [
              "AWS_S3",
              "AZURE_BLOB",
              "CONFLUENCE",
              "DISCORD",
              "DROPBOX",
              "FIRECRAWL",
              "GCS",
              "GOOGLE_DRIVE",
              "INTERCOM",
              "ONE_DRIVE",
              "SHAREPOINT",
              "WEB_CRAWLER",
              "FILE_UPLOAD",
              "SALESFORCE",
              "ZENDESK"
            ]
          },
          "config": {
            "type": "object",
            "properties": {

            }
          }
        },
        "required": [
          "id",
          "type",
          "config"
        ],
        "additionalProperties": false
      },
      "DestinationConnectorSchema": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "type": "string"
          },
          "config": {
            "type": "object",
            "properties": {

            }
          }
        },
        "required": [
          "id",
          "type",
          "config"
        ],
        "additionalProperties": false
      },
      "AIPlatformSchema": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "type": "string"
          },
          "config": {
            "type": "object",
            "properties": {

            }
          }
        },
        "required": [
          "id",
          "type",
          "config"
        ],
        "additionalProperties": false
      },
      "ScheduleSchema": {
        "type": "object",
        "properties": {

        }
      },
      "PipelineConfigurationSchema": {
        "type": "object",
        "properties": {
          "sourceConnectors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SourceConnectorSchema"
            },
            "minItems": 1
          },
          "destinationConnector": {
            "$ref": "#/components/schemas/DestinationConnectorSchema"
          },
          "aiPlatform": {
            "$ref": "#/components/schemas/AIPlatformSchema"
          },
          "pipelineName": {
            "type": "string",
            "minLength": 1
          },
          "schedule": {
            "$ref": "#/components/schemas/ScheduleSchema"
          }
        },
        "required": [
          "sourceConnectors",
          "destinationConnector",
          "aiPlatform",
          "pipelineName",
          "schedule"
        ],
        "additionalProperties": false
      },
      "PipelineListSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "documentCount": {
            "type": "number"
          },
          "sourceConnectorAuthIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "destinationConnectorAuthIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "aiPlatformAuthIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "sourceConnectorTypes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "destinationConnectorTypes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "aiPlatformTypes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "createdAt": {
            "type": "string",
            "nullable": true
          },
          "createdBy": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "configDoc": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            }
          }
        },
        "required": [
          "id",
          "name",
          "documentCount",
          "sourceConnectorAuthIds",
          "destinationConnectorAuthIds",
          "aiPlatformAuthIds",
          "sourceConnectorTypes",
          "destinationConnectorTypes",
          "aiPlatformTypes",
          "createdAt",
          "createdBy",
          "status"
        ]
      },
      "GetPipelinesResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PipelineListSummary"
            }
          }
        },
        "required": [
          "message",
          "data"
        ]
      }
    },
    "parameters": {

    }
  },
  "paths": {
    "/api/org/{organization}/pipelines": {
      "post": {
        "operationId": "createPipeline",
        "summary": "Create a new pipeline",
        "tags": [
          "Pipelines"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "organization",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PipelineConfigurationSchema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Pipeline created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePipelineResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid pipeline configuration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestError"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "getPipelines",
        "summary": "Get all existing pipelines",
        "tags": [
          "Pipelines"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "organization",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Get all pipelines",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPipelinesResponse"
                }
              }
            }
          },
          "404": {
            "description": "Invalid organization ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestError"
                }
              }
            }
          }
        }
      }
    }
  }
}